{%- liquid
  if unique_id == blank
    assign unique_id = section.id
  endif 

  assign product_form_id = 'product-form-' | append: product.id | append: '-' | append: unique_id

-%}

{% form 'product', product,
   id: product_form_id,
   class: "product__form-container product_form",
   data-product-form: product_form_config,
   data-product-id: product.id %}


   {%- unless product.has_only_default_variant -%}
     {%- if settings.product_variants == 'swatches' -%}
       <div class="product__variants-swatches no-js-hidden" data-section="{{ unique_id }}" data-url="{{ product.url }}">
         {% for option in product.options_with_values %}
           {% render "snip-swatch",
             option: option,
             current_variant: current_variant,
             product: product,
             unique_id: unique_id,
             show_color_swatches: settings.show_color_swatches,
             color_swatch_shape: settings.color_swatch_shape,
             color_swatch_style: settings.color_swatch_style %}
         {% endfor %}
       </div>
     {%- else -%}
       <div class="product__variants-select no-js-hidden" data-section="{{ unique_id }}" data-url="{{ product.url }}">
         {%- for option in product.options_with_values -%}
           <div class="product-form__input product-form__input--dropdown inline-block w50 {% if forloop.index == 1 %}pr1{% elsif forloop.index == 2 %}pl1{% endif %}">
             <label class="form__label block-label" for="Option-{{ unique_id }}-{{ forloop.index0 }}">
               {{ option.name }}
             </label>
             <div class="select">
               <select id="Option-{{ unique_id }}-{{ forloop.index0 }}"
                 class="js-variant-selector"
                 name="options[{{ option.name | escape }}]"
                 form="product-form-{{ unique_id }}"
               >
                 {%- for value in option.values -%}
                   <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                     {{ value }}
                   </option>
                 {%- endfor -%}
               </select>
             </div>
           </div>
         {%- endfor -%}
       </div>
     {%- endif -%}
   {%- endunless -%}

  <noscript class="product__variants-select product-form__noscript-wrapper-{{ unique_id }}">
    <div class="product-form__input product-form__input--dropdown{% if product.has_only_default_variant %} hidden{% endif %}">
      <label class="form__label block-label" for="Variants-{{ unique_id }}">{{ 'products.product.choose_option' | t }}</label>
      <div class="select">
        <select name="id" id="Variants-{{ unique_id }}">
          {%- for variant in product.variants -%}
            <option
              {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
              {% if variant.available == false %}disabled{% endif %}
              value="{{ variant.id }}"
            >
              {{ variant.title }}
              {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              - {{ variant.price | money | strip_html }}
            </option>
          {%- endfor -%}
        </select>
      </div>
    </div>
    {%- render 'product-buttons',
      product_type: 'product',
      product: product,
      current_variant: current_variant,
      index: forloop.index,
      no_js: true -%}
  </noscript>
{% endform %}
