{% if type == 'theme' %}
  {%- if icon == 'rings' or icon == 'ring' -%}
    <svg class="icon--forge-ring {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       height="{{ size }}" viewBox="0 0 116.9 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M45.9,18.5c-14.6,0-26.6,11.9-26.6,26.5s11.9,26.6,26.6,26.6c14.6,0,26.5-11.9,26.5-26.6S60.5,18.5,45.9,18.5z
           M45.9,69.8c-13.6,0-24.6-11.1-24.6-24.7c-0.1-13.7,11-24.7,24.6-24.7c3.6,0,7,0.8,10,2.1c-5.5,6.1-8.5,13.9-8.5,22.3
          c0,8.4,3.2,16.4,8.9,22.7C53.1,68.9,49.6,69.8,45.9,69.8z M58.2,66.5c-5.6-5.9-8.7-13.6-8.7-21.7c0-8,3-15.5,8.4-21.3
          c1.4,0.8,2.7,1.7,3.9,2.7C56.7,31.2,54,37.8,54,44.8c0,7.2,2.9,14,7.9,19C60.8,64.8,59.5,65.7,58.2,66.5z M63.4,62.4
          c-4.7-4.6-7.4-11-7.4-17.6c0-6.5,2.5-12.6,7.1-17.3c4.5,4.5,7.4,10.7,7.4,17.6C70.5,51.8,67.8,58,63.4,62.4z"/>
        <path d="M81.9,9.9c-6.7,0-13.2,1.9-19,5.5l0,0c-5.3-3.2-11.3-4.8-17.7-4.8c-8.5,0-16.5,3.1-22.8,8.6l0.5-17.2V2
          c0-0.1,0-0.2,0-0.2s0-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0-0.1,0c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1,0-0.1-0.1c0,0,0,0-0.1,0
          l-2.8-0.7c-4.8-1.4-10,0.1-13.6,3.7L4.2,5.8c-3.6,3.6-4.9,8.7-3.8,13.7l0.7,2.8c0,0,0,0,0,0.1c0,0,0,0.1,0.1,0.1
          c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0.1c0.1,0.1,0.1,0.1,0.2,0.1h0.1C1.8,22.9,1.9,23,2,23L19,22.5C7.2,36.1,7.8,56.8,20.7,69.8
          C27.3,76.4,36,80,45.3,80c6.6,0,12.8-1.8,18.2-5.2c5.5,3.4,11.8,5.2,18.4,5.2c19.3,0,35-15.7,35-35.1C116.9,25.6,101.2,9.9,81.9,9.9
          z M16,2c0.9,0,2,0.1,2.9,0.3L20,2.6l-4.6,4.6l-7.7-2C9.9,3.1,12.9,2,16,2z M20.9,4.5l-0.4,12.4l-3.6-8.4L20.9,4.5z M13.8,8.8
          l-4.9,4.9L7.1,7.1L13.8,8.8z M2.4,18.9c-1.1-4,0.1-8.3,2.8-11.3l2,7.8l-4.6,4.6L2.4,18.9z M4.6,20.9l3.9-4l8.4,3.6L4.6,20.9z
           M10,15.5l5.4-5.4l3.9,9.3L10,15.5z M45.3,78c-8.7,0-17-3.4-23.1-9.6c-12.7-12.7-12.7-33.5,0-46.2c6.1-6.2,14.3-9.6,23.1-9.6
          s16.8,3.4,23.1,9.6c12.7,12.7,12.7,33.5,0,46.2C62.1,74.6,54,78,45.3,78z M70.5,21.5c3.4-1.7,7.3-2.6,11.3-2.6
          c1.1,0,2.3,0.1,3.2,0.2c12.9,1.6,22.7,12.7,22.7,25.8c0,14.3-11.6,26-25.9,26c-3.8,0-7.6-0.8-10.9-2.4
          C82.9,55.3,82.8,34.7,70.5,21.5z M81.9,77.9c-5.9,0-11.5-1.5-16.5-4.4c1.4-1,2.7-2.1,3.9-3.3c3.8,1.9,8.1,2.9,12.5,2.9
          c15.4,0,28-12.6,28-28.1c0-14.1-10.5-26.1-24.5-27.9c-1-0.1-2.3-0.2-3.5-0.2c-4.6,0-9,1.1-12.9,3.2c-1.3-1.2-2.6-2.3-4-3.3
          c5.2-3.1,11.1-4.7,17-4.7c18.1,0,32.9,14.8,32.9,33C114.7,63.1,100,77.9,81.9,77.9z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-ring:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'bracelets' or icon == 'bracelet' -%}
    <svg class="icon--forge-bracelet {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       height="{{ size }}" viewBox="0 0 81 80" xml:space="preserve">
         <g class="hover-fill" fill="{{ fill }}">
            <path d="M33,12.1c0.4,0,0.8,0,1.3-0.1c2.4-0.6,4.1-2.6,4.3-4.9l4.1,0c0.1,0.9,0.3,1.7,0.8,2.5
              c0.8,1.2,2,2.1,3.5,2.4c0.4,0.1,0.8,0.1,1.2,0.1c1,0,2.1-0.3,3-0.9c1.2-0.8,2.1-2,2.4-3.5c0.3-1.4,0.1-2.9-0.7-4.2
              c-0.8-1.2-2-2.1-3.5-2.4c-1.4-0.3-2.9-0.1-4.2,0.7c-1.2,0.7-2,1.9-2.3,3.2l-4.5,0c-0.8-2.8-3.7-4.6-6.6-3.9c-3,0.7-4.8,3.7-4.2,6.7
              C28.2,10.4,30.4,12.1,33,12.1z M44.6,5.7c0.2-0.9,0.8-1.7,1.6-2.2c0.6-0.4,1.2-0.6,1.9-0.6c0.3,0,0.5,0,0.8,0.1
              c0.9,0.2,1.7,0.8,2.2,1.6c0.5,0.8,0.7,1.8,0.5,2.7S50.8,9,50,9.5c-0.8,0.5-1.8,0.7-2.7,0.5c-0.9-0.2-1.7-0.8-2.2-1.6
              C44.6,7.6,44.4,6.6,44.6,5.7L44.6,5.7z M29.9,4.7c0.5-0.8,1.3-1.4,2.2-1.6C32.4,3,32.7,3,33,3c0.7,0,1.3,0.2,1.9,0.5
              c0.8,0.5,1.4,1.3,1.6,2.2c0.2,0.9,0.1,1.9-0.4,2.7c-0.5,0.8-1.3,1.4-2.2,1.6c-0.9,0.2-1.9,0.1-2.7-0.4c-0.8-0.5-1.4-1.3-1.6-2.2
              C29.3,6.4,29.4,5.5,29.9,4.7L29.9,4.7z"/>
            <path d="M22.7,16.3c1,0,2-0.3,2.9-0.8
              c1.3-0.8,2.1-2,2.5-3.4c0.3-1.4,0.1-2.9-0.7-4.2c-0.8-1.3-2-2.1-3.4-2.5C22.5,5,21,5.3,19.8,6.1c-2.6,1.6-3.4,5-1.8,7.6
              C19,15.4,20.8,16.3,22.7,16.3L22.7,16.3z M20.8,7.7c0.6-0.4,1.2-0.5,1.9-0.5c0.3,0,0.6,0,0.8,0.1c0.9,0.2,1.7,0.8,2.2,1.6
              c0.5,0.8,0.7,1.8,0.4,2.7c-0.2,0.9-0.8,1.7-1.6,2.2c-1.7,1-3.9,0.5-4.9-1.2C18.6,11,19.1,8.8,20.8,7.7L20.8,7.7z"/>
            <path d="M14.3,23.6c1.6,0,3.2-0.7,4.3-2
              c2-2.4,1.6-5.9-0.7-7.8c-2.4-2-5.9-1.6-7.8,0.7c-2,2.4-1.6,5.9,0.7,7.8C11.8,23.2,13.1,23.6,14.3,23.6L14.3,23.6z M11.6,15.8
              c0.7-0.8,1.7-1.3,2.7-1.3c0.8,0,1.6,0.3,2.3,0.8c1.5,1.3,1.7,3.5,0.5,5c-1.3,1.5-3.5,1.7-5,0.5C10.5,19.5,10.3,17.3,11.6,15.8z"/>
            <path d="M6.7,32.8c0.7,0.3,1.3,0.4,2,0.4
              c2.2,0,4.3-1.3,5.2-3.5c0.5-1.4,0.5-2.9-0.1-4.2c-0.6-1.4-1.7-2.4-3.1-2.9c-1.4-0.5-2.9-0.5-4.2,0.1c-1.4,0.6-2.4,1.7-2.9,3.1
              C3,27,3,28.5,3.6,29.8C4.2,31.2,5.3,32.2,6.7,32.8z M5.3,26.3c0.3-0.9,1-1.6,1.9-2c0.5-0.2,1-0.3,1.4-0.3c0.4,0,0.9,0.1,1.3,0.2
              c0.9,0.3,1.6,1,2,1.9c0.4,0.9,0.4,1.8,0.1,2.7c-0.7,1.8-2.8,2.8-4.6,2c-0.9-0.3-1.6-1-2-1.9C5,28.2,5,27.2,5.3,26.3L5.3,26.3z"/>
            <path d="M6.1,44c0.1,0,0.2,0,0.3,0
              c2.9,0,5.4-2.3,5.5-5.3c0.1-3.1-2.2-5.7-5.3-5.8c-1.5-0.1-2.9,0.4-4,1.4c-1.1,1-1.7,2.4-1.8,3.8C0.7,41.3,3.1,43.9,6.1,44L6.1,44z
               M4,35.8c0.7-0.6,1.5-0.9,2.4-0.9c0.1,0,0.1,0,0.2,0c1,0,1.8,0.5,2.5,1.2s1,1.6,0.9,2.6c0,1-0.5,1.8-1.2,2.5s-1.6,1-2.6,0.9
              c-1,0-1.8-0.5-2.5-1.2c-0.6-0.7-1-1.6-0.9-2.6C2.9,37.3,3.3,36.5,4,35.8z"/>
            <path d="M9.2,54.8c1.4-0.4,2.6-1.3,3.3-2.6
              c0.7-1.3,0.9-2.8,0.5-4.2c-0.8-2.9-3.9-4.6-6.9-3.8v0c-1.4,0.4-2.6,1.3-3.3,2.6c-0.7,1.3-0.9,2.8-0.5,4.2c0.4,1.4,1.3,2.6,2.6,3.3
              C5.8,54.8,6.7,55,7.7,55C8.2,55,8.7,55,9.2,54.8L9.2,54.8z M4.2,50.5c-0.3-0.9-0.2-1.9,0.3-2.7c0.5-0.8,1.2-1.4,2.1-1.7
              c1.9-0.5,3.9,0.6,4.4,2.5s-0.6,3.9-2.5,4.4C6.8,53.5,4.8,52.4,4.2,50.5L4.2,50.5z"/>
            <path d="M11.4,65c0.3,0.1,0.7,0.1,1,0.1
              c1.1,0,2.2-0.3,3.1-1c2.5-1.7,3.2-5.2,1.4-7.7c-1.7-2.5-5.2-3.2-7.7-1.4c-1.2,0.8-2,2.1-2.3,3.6c-0.3,1.5,0,2.9,0.9,4.2
              C8.7,63.9,10,64.7,11.4,65L11.4,65z M8.9,58.9c0.2-0.9,0.7-1.8,1.5-2.3c1.6-1.1,3.9-0.7,5,0.9c0.5,0.8,0.7,1.7,0.6,2.7
              c-0.2,0.9-0.7,1.8-1.5,2.3c-1.6,1.1-3.8,0.7-5-0.9C8.9,60.8,8.7,59.8,8.9,58.9z"/>
            <path d="M23.4,63.1c-1.2-0.9-2.7-1.3-4.1-1.1
              c-1.5,0.2-2.8,1-3.7,2.2c-0.9,1.2-1.3,2.6-1.1,4.1c0.2,1.5,1,2.8,2.2,3.7c1,0.7,2.1,1.1,3.3,1.1c0.3,0,0.5,0,0.8-0.1
              c1.5-0.2,2.8-1,3.7-2.2c0.9-1.2,1.3-2.6,1.1-4.1C25.4,65.3,24.6,64,23.4,63.1L23.4,63.1z M23,69.7c-0.6,0.8-1.4,1.3-2.4,1.4
              c-0.9,0.1-1.9-0.1-2.6-0.7c-0.8-0.6-1.3-1.4-1.4-2.4c-0.1-0.9,0.1-1.9,0.7-2.6c0.6-0.8,1.4-1.3,2.4-1.4c0.2,0,0.3,0,0.5,0
              c0.8,0,1.5,0.2,2.1,0.7c0.8,0.6,1.3,1.4,1.4,2.4C23.8,68,23.5,68.9,23,69.7z"/>
            <path d="M31.7,67.4c-2.9-1-6,0.6-7,3.5
              c-1,2.9,0.6,6,3.5,7c0.6,0.2,1.2,0.3,1.7,0.3c2.3,0,4.5-1.5,5.3-3.8C36.2,71.5,34.6,68.3,31.7,67.4L31.7,67.4z M33.3,73.8
              c-0.6,1.9-2.6,2.9-4.5,2.3c-1.9-0.6-2.9-2.6-2.3-4.5c0.3-0.9,0.9-1.6,1.8-2.1c0.9-0.4,1.8-0.5,2.7-0.2C32.9,69.9,34,71.9,33.3,73.8z
              "/>
            <path d="M40.9,68.8c-1.5,0-2.9,0.6-3.9,1.6
              c-1,1.1-1.6,2.4-1.6,3.9c0,1.5,0.6,2.9,1.6,3.9c1,1,2.4,1.6,3.9,1.6h0c1.5,0,2.9-0.6,3.9-1.6c1-1.1,1.6-2.4,1.6-3.9
              c0-1.5-0.6-2.9-1.6-3.9C43.8,69.4,42.3,68.8,40.9,68.8z M43.4,76.9c-0.7,0.7-1.6,1.1-2.5,1.1c-1,0-1.9-0.4-2.5-1
              c-0.7-0.7-1.1-1.6-1.1-2.5c0,0,0,0,0,0c0-1,0.4-1.9,1-2.5c0.7-0.7,1.6-1.1,2.5-1.1h0c0.9,0,1.8,0.4,2.5,1c0.7,0.7,1.1,1.6,1.1,2.5
              C44.5,75.3,44.1,76.2,43.4,76.9L43.4,76.9z"/>
            <path d="M54.3,67.6c-1.3-0.6-2.8-0.7-4.2-0.3
              c-2.9,1-4.4,4.2-3.5,7v0c0.5,1.4,1.5,2.5,2.8,3.2c0.8,0.4,1.6,0.6,2.4,0.6c0.6,0,1.2-0.1,1.8-0.3c2.9-1,4.4-4.2,3.5-7
              C56.6,69.3,55.6,68.2,54.3,67.6L54.3,67.6z M53,75.9c-0.9,0.3-1.9,0.2-2.7-0.2c-0.9-0.4-1.5-1.1-1.8-2c-0.6-1.9,0.4-3.9,2.2-4.5
              c0.9-0.3,1.9-0.2,2.7,0.2c0.9,0.4,1.5,1.1,1.8,2C55.9,73.2,54.9,75.3,53,75.9L53,75.9z"/>
            <path d="M61.6,72.8c1.2,0,2.4-0.4,3.4-1.1
              c2.4-1.9,2.9-5.4,1-7.8c-1.9-2.4-5.4-2.9-7.8-1c-1.2,0.9-1.9,2.2-2.1,3.7c-0.2,1.5,0.2,2.9,1.1,4.1C58.3,72.1,60,72.8,61.6,72.8z
               M58.1,66.8c0.1-0.9,0.6-1.8,1.4-2.4c0.6-0.5,1.4-0.7,2.2-0.7c1.1,0,2.1,0.5,2.8,1.4c1.2,1.6,0.9,3.8-0.7,5c-1.6,1.2-3.8,0.9-5-0.7
              h0C58.2,68.7,58,67.8,58.1,66.8z"/>
            <path d="M74.7,58.1c-0.3-1.5-1.1-2.7-2.3-3.5
              c-1.2-0.8-2.7-1.1-4.2-0.8c-1.5,0.3-2.7,1.1-3.5,2.3c-0.8,1.2-1.1,2.7-0.8,4.2c0.3,1.5,1.1,2.7,2.3,3.5c0.9,0.6,2,0.9,3.1,0.9
              c1.8,0,3.5-0.9,4.6-2.4C74.7,61.1,75,59.6,74.7,58.1L74.7,58.1z M72.2,61.2c-1.1,1.6-3.3,2.1-5,1c-1.6-1.1-2.1-3.3-1-5
              c0.5-0.8,1.3-1.3,2.3-1.5c0.2,0,0.5-0.1,0.7-0.1c0.7,0,1.4,0.2,2,0.6c0.8,0.5,1.3,1.3,1.5,2.3C72.9,59.5,72.7,60.4,72.2,61.2
              L72.2,61.2z"/>
            <path d="M79.2,50.6c0.8-2.9-0.9-6-3.9-6.8
              c-3-0.8-6,0.9-6.8,3.9c-0.8,2.9,0.9,6,3.9,6.8c0.5,0.1,1,0.2,1.5,0.2c0.9,0,1.9-0.2,2.7-0.7C77.9,53.2,78.8,52,79.2,50.6L79.2,50.6z
               M75.6,52.2c-0.8,0.5-1.8,0.6-2.7,0.3c-1.9-0.5-3-2.5-2.5-4.4c0.4-1.6,1.9-2.6,3.4-2.6c0.3,0,0.6,0,0.9,0.1c1.9,0.5,3,2.5,2.5,4.4
              C77.1,51,76.5,51.8,75.6,52.2L75.6,52.2z"/>
            <path d="M69.5,38.4c0.1,1.5,0.7,2.8,1.8,3.8
              c1,0.9,2.3,1.4,3.7,1.4c0.1,0,0.2,0,0.3,0c3.1-0.2,5.4-2.8,5.2-5.9c-0.1-1.5-0.7-2.8-1.8-3.8c-1.1-1-2.5-1.5-4-1.4
              C71.7,32.7,69.3,35.3,69.5,38.4L69.5,38.4z M75,34.5c0.9,0,1.7,0.3,2.4,0.9c0.7,0.6,1.1,1.5,1.2,2.5c0.1,1-0.3,1.9-0.9,2.6
              c-0.6,0.7-1.5,1.1-2.5,1.2c-1,0.1-1.9-0.3-2.6-0.9c-0.7-0.6-1.1-1.5-1.2-2.5s0.3-1.9,0.9-2.6c0.6-0.7,1.5-1.1,2.5-1.2
              C74.9,34.5,75,34.5,75,34.5z"/>
            <path class="st0" d="M67.5,29.3c0.9,2.2,3,3.5,5.2,3.5
              c0.7,0,1.4-0.1,2.1-0.4c2.8-1.1,4.2-4.4,3.1-7.2c-1.1-2.8-4.4-4.2-7.2-3.1C67.7,23.2,66.3,26.5,67.5,29.3z M72.6,23.7
              c1.4,0,2.8,0.8,3.3,2.2c0.7,1.8-0.2,3.9-2,4.6c-1.8,0.7-3.9-0.2-4.6-2c-0.7-1.8,0.2-3.9,2-4.6C71.7,23.8,72.2,23.7,72.6,23.7z"/>
            <path d="M62.7,21.4c1.1,1.3,2.7,1.9,4.2,1.9
              c1.3,0,2.5-0.4,3.6-1.3c2.3-2,2.6-5.5,0.6-7.8c-2-2.3-5.5-2.6-7.8-0.6C61,15.5,60.7,19,62.7,21.4L62.7,21.4z M64.6,15
              c0.7-0.6,1.5-0.9,2.3-0.9c1,0,2,0.4,2.7,1.3c1.3,1.5,1.1,3.8-0.4,5c-1.5,1.3-3.8,1.1-5-0.4C62.9,18.6,63.1,16.3,64.6,15z"/>
            <path d="M55.6,15.3c0.9,0.5,1.9,0.8,2.8,0.8
              c1.9,0,3.7-1,4.8-2.7c0.8-1.3,1-2.8,0.6-4.2c-0.4-1.4-1.3-2.6-2.5-3.4c-1.3-0.8-2.8-1-4.2-0.6c-1.4,0.4-2.7,1.3-3.4,2.5
              C52.1,10.3,52.9,13.8,55.6,15.3L55.6,15.3z M55.4,8.7c0.5-0.8,1.3-1.4,2.2-1.6C57.8,7,58.1,7,58.4,7c0.6,0,1.3,0.2,1.8,0.5
              c0.8,0.5,1.4,1.3,1.6,2.2c0.2,0.9,0.1,1.9-0.4,2.7v0c-1,1.7-3.2,2.2-4.9,1.2C54.9,12.6,54.3,10.4,55.4,8.7L55.4,8.7z"/>
         </g>
         <style>{{ wrapper }} .icon--forge-bracelet:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'earrings' or icon == 'earring' -%}
    <svg class="icon--forge-earrings {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       height="{{ size }}" viewBox="0 0 80 80" xml:space="preserve">
         <g class="hover-fill" fill="{{ fill }}">
           <path d="M20.7763672,28.3339844 C20.7763672,28.8862305 21.2241211,29.3339844 21.7763672,29.3339844 C22.3286133,29.3339844 22.7763672,28.8862305 22.7763672,28.3339844 C22.7763672,26.1352539 20.9873047,24.3461914 18.7885742,24.3461914 C18.2363281,24.3461914 17.7885742,24.7939453 17.7885742,25.3461914 C17.7885742,25.8984375 18.2363281,26.3461914 18.7885742,26.3461914 C19.8847656,26.3461914 20.7763672,27.237793 20.7763672,28.3339844 L20.7763672,28.3339844 Z"></path>
           <path d="M63.1992188,28.3339844 C63.1992188,28.8862305 63.6469727,29.3339844 64.1992188,29.3339844 C64.7514649,29.3339844 65.1992188,28.8862305 65.1992188,28.3339844 C65.1992188,26.1352539 63.4101563,24.3461914 61.2114258,24.3461914 C60.6591797,24.3461914 60.2114258,24.7939453 60.2114258,25.3461914 C60.2114258,25.8984375 60.6591797,26.3461914 61.2114258,26.3461914 C62.3076172,26.3461914 63.1992188,27.237793 63.1992188,28.3339844 L63.1992188,28.3339844 Z"></path>
           <path d="M0.1054688,78.5527344 C-0.0493164,78.862793 -0.0327148,79.2309571 0.1494141,79.5258789 C0.331543,79.8203125 0.6533203,80 1,80 L36.5766602,80 C36.9233399,80 37.2451172,79.8203125 37.4272461,79.5258789 C37.609375,79.230957 37.6259766,78.862793 37.4711914,78.5527344 L19.7885742,43.1870117 L19.7885742,37.3603515 C24.328186,36.8604736 27.8725586,33.0049438 27.8725586,28.3339843 C27.8725586,23.6634521 24.328186,19.8079833 19.7885742,19.3081054 L19.7885742,13.258789 C22.9916992,12.774414 25.4550781,10.0029296 25.4550781,6.6665038 C25.4550781,2.9907227 22.4643555,7.10542736e-15 18.7885742,7.10542736e-15 C15.1123047,7.10542736e-15 12.121582,2.9907227 12.121582,6.6665039 C12.121582,7.21875 12.5693359,7.6665039 13.121582,7.6665039 C13.6738281,7.6665039 14.121582,7.21875 14.121582,6.6665039 C14.121582,4.0932617 16.215332,2 18.7885742,2 C21.3618164,2 23.4550781,4.0932617 23.4550781,6.6665039 C23.4550781,9.2397461 21.3618164,11.3334961 18.7885742,11.3334961 C18.2363281,11.3334961 17.7885742,11.78125 17.7885742,12.3334961 L17.7885742,19.3081055 C13.2485351,19.8079834 9.7041015,23.6633911 9.7041015,28.3339844 C9.7041015,33.0050049 13.2485351,36.8604737 17.7885742,37.3603516 L17.7885742,43.1870118 L0.1054688,78.5527344 Z M2.6181641,78 L18.7885743,45.6591797 L34.9584961,78 L2.6181641,78 Z M11.7041016,28.3339844 C11.7041016,24.4277344 14.8823243,21.25 18.7885743,21.25 C22.6948243,21.25 25.8725587,24.4277344 25.8725587,28.3339844 C25.8725587,32.2402344 22.6948243,35.4184571 18.7885743,35.4184571 C14.8823243,35.4184571 11.7041016,32.2402344 11.7041016,28.3339844 Z"></path>
           <path d="M79.8945312,78.5527344 L62.2114258,43.1870117 L62.2114258,37.3603515 C66.7514649,36.8604736 70.2958985,33.0050048 70.2958985,28.3339843 C70.2958985,23.663391 66.7514649,19.8079833 62.2114258,19.3081054 L62.2114258,13.258789 C65.4150391,12.7749023 67.878418,10.0029296 67.878418,6.6665038 C67.878418,2.9907227 64.8876953,7.10542736e-15 61.2114258,7.10542736e-15 C57.5356446,7.10542736e-15 54.5449219,2.9907227 54.5449219,6.6665039 C54.5449219,7.21875 54.9926758,7.6665039 55.5449219,7.6665039 C56.097168,7.6665039 56.5449219,7.21875 56.5449219,6.6665039 C56.5449219,4.0932617 58.6381836,2 61.2114258,2 C63.784668,2 65.878418,4.0932617 65.878418,6.6665039 C65.878418,9.2397461 63.784668,11.3334961 61.2114258,11.3334961 C60.6591797,11.3334961 60.2114258,11.78125 60.2114258,12.3334961 L60.2114258,19.3081055 C55.671814,19.8079834 52.1274414,23.6634522 52.1274414,28.3339844 C52.1274414,33.0049439 55.671814,36.8604737 60.2114258,37.3603516 L60.2114258,43.1870118 L42.5288086,78.5527344 C42.3740234,78.862793 42.390625,79.2309571 42.5727539,79.5258789 C42.7548828,79.8203125 43.0766602,80 43.4233398,80 L79,80 C79.3466797,80 79.668457,79.8203125 79.8505859,79.5258789 C80.0327148,79.230957 80.0493164,78.862793 79.8945312,78.5527344 L79.8945312,78.5527344 Z M54.1274414,28.3339844 C54.1274414,24.4277344 57.3051758,21.25 61.2114258,21.25 C65.1176758,21.25 68.2958985,24.4277344 68.2958985,28.3339844 C68.2958985,32.2402344 65.1176758,35.4184571 61.2114258,35.4184571 C57.3051758,35.4184571 54.1274414,32.2402344 54.1274414,28.3339844 Z M45.0415039,78 L61.2114258,45.6591797 L77.3818359,78 L45.0415039,78 Z"></path>
         </g>
         <style>{{ wrapper }} .icon--forge-earrings:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'necklaces' or icon == 'necklace' -%}
    <svg class="icon--forge-necklace {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       height="{{ size }}" viewBox="0 0 62 80" xml:space="preserve">
         <g class="hover-fill" fill="{{ fill }}">
          <path d="M59.28418,68.28418 C60.58301,66.98633 61.2959,65.2583 61.292006,63.41943 C61.28906,61.58203 60.57031,59.85351 59.26855,58.55224 C58.17846,57.46154 56.80987,56.82031 55.39019,56.61346 C55.38842,56.60211 55.39275,56.59149 55.39062,56.58007 L46.58105,10.09228 C45.86474,6.31469 42.763,3.49645 39.01855,3.06433 L39.01855,1 C39.01855,0.44775 38.57128,2.30926389e-14 38.01855,2.30926389e-14 L23.98145,2.30926389e-14 C23.42872,2.30926389e-14 22.98145,0.44775 22.98145,1 L22.98145,3.06409 C19.23609,3.49549 16.13343,6.31403 15.417,10.09229 L6.60645,56.58008 C6.60431,56.59143 6.60865,56.60193 6.60688,56.61328 C5.18867,56.8208 3.82117,57.4621 2.73145,58.55224 C1.42969,59.85351 0.71094,61.58203 0.707994001,63.41943 C0.7041,65.2583 1.41699,66.98632 2.71582,68.28418 C4.05273,69.62109 5.80957,70.28906 7.56738,70.28857 C9.01227,70.28857 10.4552,69.82983 11.67065,68.92822 C10.85528,72.18329 12.51098,75.63733 15.69238,76.95508 C16.53808,77.30518 17.42578,77.48047 18.31445,77.48047 C19.20898,77.48047 20.10351,77.30322 20.95507,76.94873 C22.33392,76.37439 23.45898,75.38635 24.21239,74.12543 C24.70551,77.44391 27.55664,80 31,80 C34.44342,80 37.29449,77.44385 37.7876,74.12537 C38.54108,75.38636 39.66608,76.37439 41.04492,76.94873 C41.89648,77.30322 42.79101,77.48047 43.68554,77.48047 C44.57324,77.48047 45.46191,77.30518 46.30761,76.95508 C49.48901,75.63733 51.14477,72.18329 50.3294,68.92829 C51.54461,69.82984 52.98693,70.28858 54.43261,70.28858 C56.19043,70.28857 57.94727,69.62061 59.28418,68.28418 L59.28418,68.28418 Z M24.98145,2 L37.01856,2 L37.01856,6.1665 L24.98145,6.1665 L24.98145,2 Z M17.38184,10.46436 C17.91913,7.6319 20.19996,5.50751 22.98145,5.08844 L22.98145,7.1665 C22.98145,7.71875 23.42872,8.1665 23.98145,8.1665 L38.01856,8.1665 C38.57129,8.1665 39.01856,7.71875 39.01856,7.1665 L39.01856,5.08844 C41.79914,5.5083 44.07905,7.63257 44.61622,10.46435 L53.36237,56.61737 C51.96143,56.82745 50.61316,57.46204 49.53711,58.53711 C48.23828,59.83496 47.52539,61.56299 47.5293,63.40186 C47.53022,63.96546 47.60627,64.51636 47.73804,65.0503 C47.29517,64.72425 46.81525,64.44312 46.29492,64.22657 C44.59765,63.51905 42.72949,63.51759 41.03222,64.21973 C39.33593,64.92237 38.01562,66.24561 37.31542,67.9458 C37.09984,68.46875 36.95916,69.00891 36.87682,69.55469 C35.67224,67.5575 33.49237,66.21533 31,66.21533 C28.50763,66.21533 26.32782,67.55743 25.12323,69.55469 C25.04089,69.00884 24.90015,68.46874 24.68457,67.94579 C23.98437,66.24559 22.66406,64.92235 20.96777,64.21972 C19.26953,63.51708 17.40136,63.51855 15.70507,64.22656 C15.18475,64.44311 14.70489,64.7243 14.26195,65.05035 C14.39372,64.51641 14.46977,63.96545 14.47069,63.40185 C14.4746,61.56298 13.76171,59.83496 12.46288,58.5371 C11.38659,57.46081 10.03728,56.8258 8.63494,56.61614 L17.38184,10.46436 Z M4.12988,66.87012 C3.20996,65.95069 2.70508,64.72657 2.7079874,63.42334 C2.70995,62.11865 3.2207,60.89111 4.1455,59.96631 C5.10155,59.00977 6.35741,58.53174 7.61132,58.53174 C8.85741,58.53174 10.10155,59.00488 11.04882,59.95117 C11.96874,60.8706 12.47362,62.09472 12.4707126,63.39795 C12.46875,64.70264 11.958,65.93018 11.0332,66.85498 C9.12695,68.76221 6.03027,68.76904 4.12988,66.87012 L4.12988,66.87012 Z M22.83008,72.45117 C22.33008,73.65918 21.39063,74.60058 20.18653,75.10205 C18.98438,75.604 17.66016,75.60644 16.45801,75.10742 C13.97656,74.07959 12.79785,71.21582 13.83008,68.72363 C14.33008,67.51562 15.26953,66.57422 16.47363,66.07275 C17.67675,65.57226 19.00097,65.56982 20.20215,66.06738 C21.40333,66.56494 22.33887,67.50244 22.83496,68.70752 C23.33203,69.91357 23.33008,71.24316 22.83008,72.45117 Z M31,78 C28.31445,78 26.12891,75.80518 26.12891,73.10742 C26.12891,70.40966 28.31445,68.21533 31,68.21533 C33.68555,68.21533 35.87109,70.40967 35.87109,73.10742 C35.87109,75.80517 33.68555,78 31,78 Z M45.54199,75.10742 C44.34082,75.60596 43.0166,75.60303 41.81347,75.10205 C40.60937,74.60059 39.66992,73.65918 39.16992,72.45117 C38.66992,71.24316 38.66797,69.91357 39.16504,68.70752 C39.66113,67.50244 40.59668,66.56494 41.79785,66.06738 C42.39648,65.81933 43.02539,65.6958 43.6543,65.6958 C44.28809,65.6958 44.92285,65.82129 45.52637,66.07275 C46.73047,66.57421 47.66992,67.51562 48.16992,68.72363 C49.20215,71.21582 48.02344,74.07959 45.54199,75.10742 Z M50.9668,66.85498 C50.042,65.93018 49.53125,64.70264 49.5292873,63.39795 C49.52637,62.09473 50.03125,60.87061 50.95118,59.95117 C51.89845,59.00439 53.14259,58.53174 54.38868,58.53174 C55.64259,58.53174 56.89845,59.01026 57.8545,59.96631 C58.7793,60.89111 59.29005,62.11865 59.2920127,63.42334 C59.29493,64.72656 58.79005,65.95068 57.87012,66.87012 C55.96875,68.76904 52.87207,68.76025 50.9668,66.85498 L50.9668,66.85498 Z"></path>
         </g>
         <style>{{ wrapper }} .icon--forge-necklace:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'pendants' or icon == 'pendant' -%}
    <svg class="icon--forge-pendant {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       height="{{ size }}" viewBox="0 0 71 71" xml:space="preserve">
         <g class="hover-fill" fill="{{ fill }}">
           <path d="M66.3,11.1 C66.9,11.1 67.3,10.7 67.3,10.1 L67.3,8.4 L69.3,8.4 C69.9,8.4 70.3,8 70.3,7.4 C70.3,6.8 69.9,6.4 69.3,6.4 L67.3,6.4 L67.3,4.7 C67.3,4.1 66.9,3.7 66.3,3.7 C65.7,3.7 65.3,4.1 65.3,4.7 L65.3,6.4 L63.3,6.4 C62.7,6.4 62.3,6.8 62.3,7.4 C62.3,8 62.7,8.4 63.3,8.4 L65.3,8.4 L65.3,10.1 C65.3,10.6 65.8,11.1 66.3,11.1 Z"></path>
           <path d="M10,71 C10.6,71 11,70.6 11,70 L11,68.3 L13,68.3 C13.6,68.3 14,67.9 14,67.3 C14,66.7 13.6,66.3 13,66.3 L11,66.3 L11,64.6 C11,64 10.6,63.6 10,63.6 C9.4,63.6 9,64 9,64.6 L9,66.3 L7,66.3 C6.4,66.3 6,66.7 6,67.3 C6,67.9 6.4,68.3 7,68.3 L9,68.3 L9,70 C9,70.6 9.5,71 10,71 Z"></path>
           <path d="M1.4,59 L2.6,59 L2.6,60 C2.6,60.6 3,61 3.6,61 C4.2,61 4.6,60.6 4.6,60 L4.6,59 L5.8,59 C6.4,59 6.8,58.6 6.8,58 C6.8,57.4 6.4,57 5.8,57 L4.6,57 L4.6,56 C4.6,55.4 4.2,55 3.6,55 C3,55 2.6,55.4 2.6,56 L2.6,57 L1.4,57 C0.8,57 0.4,57.4 0.4,58 C0.4,58.6 0.9,59 1.4,59 L1.4,59 Z"></path>
           <path d="M59.2,58.2 C65.6,51.8 69.2,43.2 69.2,34.1 C69.2,25 65.7,16.5 59.2,10 C52.7,3.5 44.2,0 35.1,0 C26,0 17.5,3.5 11,10 C4.5,16.5 1,25 1,34.1 C1,43.2 4.5,51.7 11,58.2 C17.5,64.7 26,68.2 35.1,68.2 C44.2,68.2 52.8,64.7 59.2,58.2 Z M23.8,64.1 L29.6,48.5 C31.4,49.2 33.2,49.5 35.2,49.5 C36.9,49.5 38.5,49.2 40.1,48.7 L46.5,64.1 C42.9,65.4 39.1,66.2 35.2,66.2 C31.2,66.2 27.4,65.5 23.8,64.1 L23.8,64.1 Z M21.7,34.2 C21.7,30.6 23.1,27.2 25.6,24.7 C28.1,22.2 31.5,20.8 35.1,20.8 C38.7,20.8 42.1,22.2 44.6,24.7 C47.1,27.2 48.5,30.6 48.5,34.2 C48.5,37.8 47.1,41.2 44.6,43.7 C42.1,46.2 38.7,47.6 35.1,47.6 C31.5,47.6 28.1,46.2 25.6,43.7 C23.1,41.2 21.7,37.8 21.7,34.2 Z M57.8,56.8 C55,59.6 51.8,61.8 48.3,63.4 L41.9,48.1 C43.4,47.4 44.8,46.4 46.1,45.1 C47.4,43.8 48.5,42.2 49.2,40.5 L64.3,47.3 C62.8,50.8 60.6,54 57.8,56.8 Z M65.1,45.5 L49.9,38.7 C50.3,37.3 50.6,35.7 50.6,34.2 C50.6,32.2 50.2,30.3 49.5,28.5 L65.1,22.8 C66.5,26.4 67.2,30.2 67.2,34.1 C67.2,38.1 66.5,41.9 65.1,45.5 L65.1,45.5 Z M64.4,21 L48.7,26.7 C48,25.5 47.1,24.3 46.1,23.3 C44.8,22 43.3,21 41.6,20.2 L48.3,5 C51.8,6.6 55,8.8 57.8,11.6 C60.6,14.3 62.8,17.5 64.4,21 Z M46.5,4.2 L39.8,19.4 C38.3,18.9 36.8,18.7 35.2,18.7 C33.5,18.7 31.8,19 30.2,19.5 L23.9,4.1 C27.5,2.8 31.3,2 35.2,2 C39.1,2.1 42.9,2.9 46.5,4.2 L46.5,4.2 Z M12.5,11.5 C15.3,8.7 18.5,6.5 22,4.9 L28.3,20.3 C26.8,21 25.4,22 24.2,23.2 C23.1,24.3 22.2,25.5 21.5,26.8 L5.9,20.9 C7.5,17.5 9.7,14.3 12.5,11.5 L12.5,11.5 Z M5.2,22.8 L20.7,28.6 C20,30.3 19.7,32.2 19.7,34.1 C19.7,35.5 19.9,36.9 20.3,38.2 L5.2,45.4 C3.9,41.8 3.1,38 3.1,34.1 C3.1,30.2 3.9,26.4 5.2,22.8 Z M6,47.4 L21,40.2 C21.8,42 22.9,43.7 24.3,45.1 C25.4,46.2 26.6,47 27.8,47.7 L22,63.3 C18.5,61.7 15.3,59.5 12.5,56.7 C9.7,54 7.5,50.8 6,47.4 Z"></path>
         </g>
         <style>{{ wrapper }} .icon--forge-pendant:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'asscher' -%}
    <svg class="icon--forge-asscher {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 80.39 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
       <path d="M80.39,9.8c0-0.03-0.02-0.06-0.02-0.09c-0.01-0.08-0.02-0.15-0.05-0.23c-0.02-0.07-0.04-0.13-0.08-0.19
        c-0.01-0.03-0.02-0.06-0.03-0.09c-0.03-0.04-0.07-0.06-0.1-0.1c-0.03-0.03-0.04-0.07-0.07-0.1L70.75,0.3
        c-0.03-0.02-0.06-0.03-0.09-0.06c-0.03-0.02-0.04-0.05-0.07-0.07c-0.03-0.02-0.06-0.02-0.09-0.04c-0.07-0.04-0.14-0.06-0.21-0.08
        c-0.07-0.02-0.13-0.03-0.2-0.04C70.06,0.01,70.03,0,70,0H10.38c-0.04,0-0.08,0.02-0.12,0.02c-0.07,0.01-0.13,0.02-0.19,0.04
        C10,0.08,9.93,0.11,9.86,0.15C9.83,0.17,9.79,0.18,9.75,0.2C9.73,0.21,9.72,0.24,9.7,0.25C9.68,0.27,9.66,0.28,9.64,0.3L0.35,9.01
        C0.31,9.04,0.3,9.08,0.27,9.12c-0.03,0.04-0.07,0.06-0.1,0.1C0.15,9.24,0.15,9.27,0.14,9.3C0.11,9.36,0.08,9.43,0.06,9.5
        C0.04,9.57,0.02,9.64,0.02,9.72C0.02,9.75,0,9.77,0,9.8V70c0,0.03,0.01,0.05,0.02,0.08c0.01,0.07,0.02,0.13,0.04,0.2
        c0.02,0.07,0.04,0.14,0.08,0.21c0.01,0.03,0.01,0.06,0.03,0.08c0.02,0.03,0.05,0.05,0.07,0.08c0.02,0.03,0.04,0.07,0.07,0.1
        l8.52,8.9c0.03,0.03,0.07,0.04,0.1,0.07c0.03,0.03,0.05,0.06,0.09,0.09c0.04,0.02,0.08,0.03,0.11,0.05c0.04,0.02,0.07,0.03,0.1,0.05
        C9.35,79.97,9.48,80,9.61,80c0,0,0,0,0,0c0,0,0,0,0,0h61.36c0,0,0,0,0,0c0,0,0,0,0,0c0.13,0,0.25-0.03,0.38-0.08
        c0.04-0.01,0.07-0.03,0.11-0.05c0.04-0.02,0.09-0.03,0.13-0.06c0.03-0.02,0.05-0.05,0.07-0.08c0.03-0.02,0.06-0.03,0.09-0.06
        l8.32-8.52c0.03-0.03,0.04-0.06,0.06-0.09c0.02-0.03,0.05-0.04,0.07-0.07c0.02-0.03,0.02-0.06,0.04-0.09
        c0.04-0.07,0.06-0.13,0.08-0.21c0.02-0.07,0.03-0.13,0.04-0.2c0-0.03,0.02-0.06,0.02-0.1V9.8z M71.12,77.19l-4.8-6.96l4.49-4.1
        l6.78,4.44L71.12,77.19z M2.82,70.22l6.95-4.31l4.48,3.91l-4.81,7.33L2.82,70.22z M2.19,11.79l6.6,4.19v47.97l-6.6,4.09V11.79z
         M10.22,2.75l4.38,6.21l-4.88,5.02L2.87,9.64L10.22,2.75z M77.53,9.65l-6.65,4.31l-4.61-5.01l3.95-6.16L77.53,9.65z M21.54,60.39
        L20,58.57l0.19-36.96l2.33-2.96l35.96,0.75l1.63,1.74l0.48,0.51l0.19,36.81l-2.22,1.92H21.54z M61.85,19.81l-1.51-1.61l4.7-7.34
        l3.97,4.31L61.85,19.81z M58.38,17.21l-35.81-0.75l-4.45-6.3h44.77L58.38,17.21z M20.63,17.51l-1.79,2.26l-7.24-4.6l4.28-4.4
        L20.63,17.51z M18,21.82l-0.19,36.54l-6.84,4.24V17.37L18,21.82z M18.68,60.4l0.99,1.17l-4.2,6.41l-3.75-3.27L18.68,60.4z
         M21.62,62.58h36.77l4.4,6.39H17.43L21.62,62.58z M60.42,61.67l1.22-1.06l0.32-0.28l6.95,4.56l-3.85,3.52L60.42,61.67z M62.96,58.38
        l-0.19-36.56l6.83-4.43v45.34L62.96,58.38z M64.29,7.98H16.58L12.5,2.19H68L64.29,7.98z M16.02,71.13c0.06,0.01,0.11,0.03,0.17,0.03
        H64.3l4.58,6.65H11.63L16.02,71.13z M71.79,64.16V15.97l6.41-4.16v56.55L71.79,64.16z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-asscher:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'baguette' -%}
    <svg class="icon--forge-baguette {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 39.5 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
       <path d="M39.35,0.98c0-0.01-0.01-0.02-0.01-0.04c0-0.07-0.02-0.14-0.04-0.21c-0.01-0.06-0.02-0.11-0.05-0.16
        c-0.02-0.05-0.06-0.1-0.1-0.14c-0.04-0.06-0.08-0.11-0.13-0.16C39.01,0.26,39.01,0.25,39,0.24c-0.04-0.03-0.08-0.04-0.12-0.07
        c-0.06-0.04-0.11-0.07-0.18-0.1c-0.07-0.02-0.13-0.03-0.2-0.04C38.46,0.02,38.42,0,38.38,0H0.98C0.93,0,0.89,0.02,0.84,0.03
        C0.77,0.04,0.69,0.05,0.62,0.07C0.55,0.1,0.49,0.15,0.43,0.19C0.39,0.22,0.35,0.23,0.31,0.26c0,0,0,0.01-0.01,0.01
        C0.24,0.33,0.2,0.4,0.16,0.47C0.14,0.51,0.1,0.54,0.08,0.58S0.06,0.67,0.05,0.71C0.03,0.79,0,0.87,0,0.95c0,0.01,0,0.01,0,0.01
        v78.05c0,0.01,0,0.01,0,0.01c0,0.08,0.03,0.16,0.05,0.24c0.01,0.04,0.01,0.09,0.03,0.13s0.05,0.07,0.08,0.11
        c0.04,0.07,0.08,0.14,0.14,0.2l0.01,0.01c0.04,0.03,0.08,0.05,0.12,0.08c0.06,0.04,0.12,0.09,0.19,0.12
        c0.07,0.03,0.15,0.03,0.22,0.05C0.89,79.98,0.94,80,0.98,80h37.4c0.12,0,0.24-0.03,0.36-0.07c0.05-0.02,0.09-0.05,0.13-0.08
        c0.05-0.03,0.11-0.05,0.15-0.09c0.01-0.01,0.01-0.02,0.02-0.02c0.05-0.05,0.09-0.11,0.13-0.17c0.03-0.05,0.07-0.09,0.09-0.13
        c0.02-0.05,0.03-0.11,0.04-0.16c0.02-0.07,0.04-0.14,0.04-0.21c0-0.01,0.01-0.02,0.01-0.03C39.35,79.04,39.35,0.98,39.35,0.98z
         M9.99,10.48h20.13l-0.24,59.04H9.99V10.48z M30.65,8.53H9.44L3.25,1.95h33.02L30.65,8.53z M8.04,9.9v60.2l-6.08,6.46V3.44L8.04,9.9
        z M9.44,71.47h20.97l5.81,6.58H3.24L9.44,71.47z M31.83,70.12l0.25-60.26l5.33-6.25v72.82L31.83,70.12z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-baguette:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'brilliant' -%}
    <svg class="icon--forge-brilliant {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 80 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
      <path d="M40,0C17.94,0,0,17.94,0,40c0,10.4,3.99,19.89,10.53,27.01v0.7l0.4,0.4h0.64C18.82,75.44,28.89,80,40,80
        c22.06,0,40-17.94,40-40S62.06,0,40,0z M11.91,67.31c-0.2-0.2-0.39-0.41-0.59-0.62V51.24l12.19,4.73l4.46,11.34H11.91z M51.2,67.12
        l-10.3-5.63l13.62-5.93L51.2,67.12z M24.12,55.34L17.93,40l6.19-15.87l15.87-5.68l14.31,5.42l6.97,16.07l-6.44,14.63l-14.85,6.46
        L24.12,55.34z M24.45,23.17l3.3-10.13l11.19,4.94L24.45,23.17z M61.75,40.82l5.93,10.37l-11.86,3.09L61.75,40.82z M61.76,39.07
        l-6.42-14.81l12.36,4.76L61.76,39.07z M67.89,28.27l-12.96-5.02L51.97,12.9h15.92V28.27z M54.01,22.9l-13-4.92l10.19-4.92
        L54.01,22.9z M40,17.59L28.2,12.38L39.99,0.96l10.8,11.42L40,17.59z M23.5,23.51l-12.15,4.22l0.77-15.06l14.83,0.23L23.5,23.51z
         M23.13,24.48l-5.69,14.6L11.5,28.51L23.13,24.48z M17.42,40.87l5.68,14.08l-11.59-4.5L17.42,40.87z M39.04,61.52l-10.28,5.62
        l-4.25-10.81L39.04,61.52z M40,61.9l10.8,5.91L40,79.03L29.2,67.8L40,61.9z M55.45,55.2l12.44-3.24v15.35H51.97L55.45,55.2z
         M62.17,39.95l6.2-10.49L79.04,40L68.37,50.79L62.17,39.95z M68.98,28.95l7.49-3.28c1.64,4.16,2.58,8.65,2.7,13.36L68.98,28.95z
         M68.69,28.21V13.32c3.14,3.37,5.7,7.3,7.5,11.61L68.69,28.21z M52.11,12.1l4.14-7.77c4.2,1.92,8.01,4.56,11.26,7.77H52.11z
         M51.36,11.83L40.95,0.82c5.17,0.12,10.09,1.24,14.58,3.19L51.36,11.83z M27.65,11.81l-3.2-7.79c4.48-1.94,9.39-3.07,14.54-3.2
        L27.65,11.81z M26.9,12.1l-14.18-0.22c3.19-3.1,6.91-5.65,11-7.53L26.9,12.1z M10.55,27.76l-7.01-2.15
        c1.81-4.57,4.45-8.72,7.75-12.26L10.55,27.76z M10.21,28.49L0.82,38.93c0.12-4.41,0.96-8.65,2.43-12.58L10.21,28.49z M0.94,39.99
        l9.9-11.02l6.19,11.02l-6.19,10.03L0.94,39.99z M10.24,50.53l-7,3.1c-1.47-3.95-2.31-8.2-2.42-12.63L10.24,50.53z M28.64,68.37
        l10.4,10.81c-5.2-0.13-10.15-1.26-14.66-3.23L28.64,68.37z M51.36,68.37l4.17,7.62c-4.49,1.94-9.4,3.06-14.57,3.19L51.36,68.37z
         M52.12,68.1H67.3c-3.2,3.11-6.93,5.68-11.04,7.56L52.12,68.1z M68.69,51.99l7.73,2.49c-1.81,4.55-4.45,8.67-7.73,12.2V51.99z
         M69.02,51.27l10.15-10.27c-0.11,4.47-0.97,8.77-2.47,12.75L69.02,51.27z M3.53,54.36l6.99-3.1v14.54
        C7.58,62.45,5.2,58.59,3.53,54.36z M27.87,68.1l-4.22,7.52c-4.07-1.88-7.77-4.43-10.95-7.52H27.87z"/>
      <path style="opacity: 0.5;" d="M79.67,39.61l-27.14-4.73l24.06-9.58l0.37-0.15l-0.29-0.74l-24.43,9.72l16.62-21.33l-0.54-0.57L46.03,27.28
        l9.88-23.62l-0.73-0.31L45.3,26.97L40.39,0.33l-0.78-0.01L34.1,26.21L24.14,3.29l-0.73,0.32l9.86,22.71L12.75,11.19l-0.56,0.55
        l15.5,22.41L3.34,24.42l-0.3,0.74l23.72,9.48L0.33,39.62v0.78l24.57,4.63L2.86,53.8l-0.37,0.15l0.29,0.74l23.56-9.38l0.42,0.08
        l-14.59,22.9l0.57,0.53l21.79-16.13l-9.77,23.37l-0.15,0.37l0.73,0.31l9.95-23.78l4.31,26.72l0.78,0.01l4.7-26.15l10.1,23.25
        l0.73-0.32L45.4,52.24L68.01,68.1l0.56-0.55L53.85,45.46l23.08,9.22l0.3-0.74l-22.97-9.18l25.41-4.37L79.67,39.61z M66.7,14.3
        L50.78,34.73l-9.42,3.75l4.12-9.86L66.7,14.3z M39.97,2.45l4.77,25.87l-4.42,10.58l-0.38,0.15l-0.32-0.13l-4.97-11.44L39.97,2.45z
         M14.2,13.25L33.9,27.77l4.66,10.73l-9.73-3.89l0.05-0.13L14.2,13.25z M2.55,40.01l25.59-4.82l10.72,4.28l-12.59,5.01L2.55,40.01z
         M14,66.9l13.76-21.59l-0.21-0.49l11.73-4.67l0.26,0.59l-4.4,10.51L14,66.9z M40.02,77.24l-4.15-25.68l4.1-9.8l4.54,10.46
        L40.02,77.24z M66.73,66.23L45.28,51.19l-0.29,0.12L40.4,40.74l0.23-0.56l11.91,4.76L66.73,66.23z M52.85,44.2l-11.84-4.73
        l10.12-4.03L77.27,40L52.85,44.2z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-brilliant:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'cushion' -%}
    <svg class="icon--forge-cushion {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 78.94 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
       <path d="M78.94,40.08v-0.03l-0.88-20.79c-0.01-0.17-0.06-0.33-0.14-0.47l-6.7-10.92c-0.02-0.03-0.05-0.05-0.08-0.07
        c-0.03-0.04-0.04-0.08-0.07-0.11c-0.04-0.03-0.08-0.05-0.12-0.07c-0.03-0.02-0.05-0.06-0.08-0.08L60.3,1.53
        c-0.13-0.07-0.27-0.11-0.42-0.12L39.1,0c-0.01,0-0.03,0-0.04,0c-0.01,0-0.03,0-0.04,0C39,0,38.99,0,38.97,0L18,1.41
        c-0.15,0.01-0.29,0.05-0.42,0.13L7.36,7.35C7.33,7.37,7.31,7.41,7.28,7.43C7.25,7.45,7.2,7.46,7.17,7.49
        C7.14,7.52,7.13,7.57,7.1,7.6C7.08,7.63,7.04,7.65,7.02,7.68L0.15,18.6C0.05,18.76,0,18.94,0,19.12V60.7c0,0.17,0.05,0.34,0.13,0.49
        l6.34,10.92c0.09,0.15,0.21,0.27,0.36,0.36l10.75,6.17c0.13,0.08,0.28,0.12,0.43,0.13L39.15,80c0.02,0,0.04,0,0.06,0s0.05,0,0.07,0
        l20.97-1.59c0.14-0.01,0.27-0.05,0.39-0.11l10.75-5.81c0.01,0,0.02-0.01,0.02-0.02c0.06-0.03,0.11-0.07,0.16-0.12
        c0.01-0.01,0.03-0.02,0.04-0.04c0,0,0,0,0.01-0.01c0-0.01,0.01-0.01,0.01-0.02c0.05-0.06,0.11-0.12,0.14-0.19l6.17-11.28
        c0.07-0.13,0.11-0.28,0.12-0.43l0.88-20.28C78.94,40.1,78.94,40.09,78.94,40.08z M39.18,77.92l-16.57-8.21l16.83-7.75l14.78,7.74
        L39.18,77.92z M54.57,10.31l-15.12,8.06l-16.4-8.08l15.97-8.22L54.57,10.31z M67.94,20.31l-10.31,0.6v-9.75l11.64-1.64L67.94,20.31z
         M55.28,57.72l-15.81,2.17l-17.75-2.52L18.7,40l2.85-17.69l17.9-1.85l16.34,2.35L58.3,40L55.28,57.72z M55.67,20.81l-13.11-1.88
        l13.11-6.99V20.81z M21.7,20.33l0.13-8.46L36,18.85L21.7,20.33z M17.27,36.61l-6.34-14.22h8.63L17.27,36.61z M17.28,43.24
        l2.44,14.02h-8.94L17.28,43.24z M21.81,59.35l14.25,2.03l-14.65,6.75L21.81,59.35z M55.16,59.7l0.13,8.36l-12.67-6.63L55.16,59.7z
         M59.76,43.06l7.45,14.56h-9.93L59.76,43.06z M59.81,36.82l-2.04-13.97l9.4-0.55L59.81,36.82z M19.75,20.44H10.3L8.97,9.37
        l10.93,1.77L19.75,20.44z M9.42,23.79l7.22,16.2L9.26,55.9L2.05,40L9.42,23.79z M10.1,59.21h9.76l-0.44,9.63L8.47,70.47L10.1,59.21z
         M57.26,68.83l-0.15-9.27h10.86l1.77,10.92L57.26,68.83z M68.79,56.42L60.39,40l8.4-16.57l8.09,16.65L68.79,56.42z M76.8,35.45
        l-6.99-14.38l1.21-9.81l5.1,8.33L76.8,35.45z M67.41,7.81L56.83,9.3L43.54,2.26l16,1.08L67.41,7.81z M18.35,3.34l16.04-1.08
        L20.72,9.3l-9.99-1.62L18.35,3.34z M7.2,11.05l1.22,10.21L1.95,35.5V19.4L7.2,11.05z M1.95,44.51l6.3,13.87l-1.5,10.33l-4.8-8.27
        C1.95,60.44,1.95,44.51,1.95,44.51z M10.24,72.18l9.96-1.48l14.28,7.08l-16.13-0.94L10.24,72.18z M59.89,76.48l-16.24,1.23
        l12.84-7.01l11.33,1.5L59.89,76.48z M71.43,68.66l-1.61-9.92l6.97-14.08l-0.67,15.42L71.43,68.66z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-cushion:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'emerald' -%}
    <svg class="icon--forge-emerald {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 60.94 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M60.92,72.12c0-0.04,0.02-0.07,0.02-0.11V8.17c0-0.04-0.02-0.08-0.02-0.12c-0.01-0.07-0.02-0.14-0.04-0.21
          c-0.02-0.06-0.05-0.11-0.08-0.16c-0.02-0.04-0.03-0.08-0.06-0.12c-0.02-0.02-0.04-0.03-0.06-0.05s-0.02-0.04-0.04-0.06l-7.73-7.19
          c-0.01-0.01-0.03-0.01-0.04-0.02c-0.01-0.01-0.02-0.02-0.03-0.03c-0.03-0.03-0.07-0.03-0.11-0.06c-0.06-0.04-0.12-0.07-0.19-0.09
          c-0.07-0.02-0.12-0.03-0.18-0.04C52.31,0.02,52.27,0,52.23,0H9.07C9.02,0,8.98,0.02,8.94,0.02C8.89,0.03,8.83,0.03,8.78,0.05
          c-0.07,0.02-0.14,0.06-0.2,0.1C8.54,0.17,8.51,0.18,8.47,0.2c0,0.01-0.01,0.02-0.02,0.03S8.43,0.24,8.42,0.25L0.33,7.44
          C0.31,7.46,0.3,7.49,0.28,7.51C0.26,7.53,0.23,7.55,0.21,7.57C0.18,7.6,0.17,7.64,0.15,7.68C0.12,7.73,0.09,7.79,0.07,7.84
          C0.05,7.92,0.03,7.99,0.02,8.06C0.02,8.1,0,8.13,0,8.17v63.48c0,0.04,0.02,0.07,0.02,0.11c0.01,0.07,0.02,0.14,0.04,0.21
          c0.02,0.06,0.05,0.11,0.08,0.16c0.02,0.04,0.03,0.08,0.05,0.11s0.05,0.04,0.07,0.06c0.02,0.02,0.03,0.05,0.05,0.07l8.09,7.37
          c0.01,0.01,0.02,0.01,0.03,0.02c0.01,0.01,0.01,0.02,0.02,0.03c0.05,0.04,0.11,0.06,0.16,0.09c0.04,0.02,0.07,0.04,0.11,0.06
          C8.84,79.98,8.96,80,9.07,80l0,0l0,0h43.16l0,0l0,0c0.11,0,0.22-0.02,0.33-0.06c0.04-0.01,0.07-0.04,0.1-0.06
          c0.06-0.03,0.11-0.05,0.16-0.09c0.01-0.01,0.01-0.02,0.02-0.03c0.01-0.01,0.02-0.01,0.03-0.02l7.73-7.01
          c0.02-0.02,0.03-0.05,0.05-0.07c0.02-0.02,0.05-0.03,0.07-0.06c0.03-0.03,0.03-0.08,0.06-0.11c0.03-0.05,0.06-0.1,0.08-0.16
          C60.9,72.26,60.91,72.19,60.92,72.12z M52.35,77.6l-3.6-4.6l4.63-4.86l5.06,3.93L52.35,77.6z M2.5,71.72l4.58-3.5L12.52,73
          l-3.57,4.59L2.5,71.72z M1.95,10.16l4.53,3.52L6.14,66.47l-4.19,3.21V10.16z M8.94,2.4l3.61,4.68l-5.14,4.84l-4.9-3.8L8.94,2.4z
           M58.47,8.11l-4.75,3.8l-5.04-4.82l3.66-4.68L58.47,8.11z M23.31,60.24l-3.01-3.01l0.17-34.28l2.86-3.01l14.32,0.17L41,23
          l-0.53,34.2l-2.82,2.67l-0.03,0.03L23.31,60.24z M42,21.29l-1.94-1.68l-0.7-0.6l3.37-4.3l3.21,3.43L42,21.29z M37.55,18.16
          L23.4,17.99l-2.93-3.81h20.19L37.55,18.16z M21.63,18.89l-2.23,2.35l-4.03-3.13l3.06-3.39L21.63,18.89z M18.52,23.03l-0.18,34.11
          l-4.02,3.08l0.57-40.01L18.52,23.03z M19.23,58.92l2.38,2.38l-2.95,3.8l-3.74-2.88L19.23,58.92z M23.4,62.19l14.15-0.34l2.85,3.64
          H20.83L23.4,62.19z M39.34,60.96l2.16-2.05l4.33,3.36l-3.28,2.79L39.34,60.96z M42.42,57.15l0.52-34.12l3.45-2.76v39.97L42.42,57.15
          z M47.47,16.91l-3.52-3.77l3.53-4.51l4.71,4.5L47.47,16.91z M42.19,12.23H18.97l-3.13-4.07h29.53L42.19,12.23z M17.22,13.15
          l-3.39,3.76l-4.87-3.78l4.78-4.5L17.22,13.15z M12.96,18.71l-0.61,43.01l-4.24,3.25l0.32-49.78L12.96,18.71z M13.32,63.44l4.15,3.2
          l-3.75,4.82l-5.06-4.45L13.32,63.44z M19.32,67.44h22.61l3.54,4.52L15.84,71.9L19.32,67.44z M43.75,66.6l3.65-3.11l4.44,3.45
          l-4.3,4.51L43.75,66.6z M48.35,61.75V18.71l4.34-3.47v49.89L48.35,61.75z M46.9,6.21H14.33l-3.28-4.26h39.18L46.9,6.21z
           M14.33,73.85l32.66,0.06l3.24,4.14H11.06L14.33,73.85z M54.61,66.62c0.01-0.06,0.03-0.12,0.03-0.18V13.67l4.34-3.47v59.82
          L54.61,66.62z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-emerald:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'heart' -%}
    <svg class="icon--forge-heart {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 83.82 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M76.47,7.33c-0.54-0.55-1.1-1.06-1.67-1.55c-0.01,0-0.01-0.01-0.01-0.02c-0.01,0-0.01-0.01-0.02-0.01
          C70,1.67,64.23-0.39,58.66,0.05C52.25,0.56,46.48,4.37,41.88,11.1C37.27,4.37,31.5,0.56,25.09,0.05C19.45-0.4,13.75,1.71,9.05,6.01
          c-0.17,0.16-0.33,0.32-0.5,0.48c-0.01,0-0.02,0.01-0.03,0.02C8.51,6.52,8.5,6.53,8.5,6.54C3.32,11.53,0.08,18.55,0,25.04
          c-0.1,8.15,8.44,20.6,17.8,31.6c0.08,0.15,0.19,0.29,0.34,0.39c3.73,4.36,7.57,8.47,11.04,11.98c0.07,0.16,0.17,0.31,0.32,0.43
          c0.07,0.06,0.16,0.09,0.24,0.13c5.81,5.83,10.47,9.87,11.6,10.35c0.13,0.05,0.28,0.08,0.44,0.08c0.06,0,0.12,0,0.18-0.02
          c0.16,0.01,0.31-0.01,0.46-0.07c1.5-0.59,6.59-4.56,12.72-10.43c0.03-0.02,0.07-0.03,0.1-0.06c0.07-0.06,0.11-0.13,0.16-0.2
          c3.45-3.32,7.21-7.24,10.84-11.49c0.02-0.03,0.05-0.05,0.07-0.08c8.63-10.12,16.47-22.12,17.44-32.5
          C84.3,19.17,81.58,12.5,76.47,7.33z M80.52,17.85l-7.27,3.14l1.62-12.07C77.47,11.55,79.41,14.68,80.52,17.85z M21.98,58.12
          l12.41,3.32l-4.29,5.41C27.52,64.21,24.75,61.26,21.98,58.12z M36.68,15.26l-9.07,2.38l3.2-3.83L36.68,15.26z M58.64,20.7V35
          l-8.42,12.28l-8.14,7.89l-8.2-7.89L25.6,35.12V20.5l15.63-4.11L58.64,20.7z M53.79,13.09l3.37,4.92l-11.37-2.82L53.79,13.09z
           M46.86,58.33l-2.94-1.8l4.87-4.73L46.86,58.33z M23.35,32.66l-8.85-9.25l8.85-2.32V32.66z M24.56,37.58l5.77,8.46l-9.13-2.65
          L24.56,37.58z M20.54,45.55l11.55,3.36l2.67,10.29l-14.81-3.96L20.54,45.55z M35.12,51.59l5.21,5.01l-3.3,2.33L35.12,51.59z
           M59.74,37.38l3.51,5.46l-9.34,3.06L59.74,37.38z M60.9,21.25l8.8,2.18l-8.8,9.12C60.9,32.55,60.9,21.25,60.9,21.25z M70.92,21.41
          l-10.46-2.59l-4.35-6.34L72.7,8.12L70.92,21.41z M23.85,18.63l-10.6,2.78l-2.5-12.57l17.63,4.36L23.85,18.63z M12.61,24.69
          l10.47,10.95l-4.02,6.94L6.3,35.96L12.61,24.69z M18.33,44.74l-0.52,8.51c-3.87-4.68-7.5-9.53-10.28-14.11L18.33,44.74z
           M42.14,58.08l4.06,2.48l-4.33,14.35l-4.2-13.67L42.14,58.08z M48,62.4l4.98,6.05c-3.79,3.61-7.08,6.4-9.22,7.98L48,62.4z
           M52.01,48.89l11.9-3.9l0.35,11.04l-15.13,2.6L52.01,48.89z M66.13,44.09l11.45-6.77c-2.8,5.62-6.8,11.33-11.13,16.64L66.13,44.09z
           M65.34,41.94l-4.14-6.45l10.53-10.91l6.74,9.61L65.34,41.94z M71.55,6.1L56.2,10.13l3.31-7.86C63.62,2.11,67.83,3.46,71.55,6.1z
           M56.93,2.58l-3.48,8.28l-10.53,2.77C45.71,9.17,50.31,3.91,56.93,2.58z M40.92,13.75c0.08,0.13,0.21,0.22,0.34,0.3l-0.03,0.01
          l-10.04-2.48L26.93,2.6C33.56,3.99,38.15,9.31,40.92,13.75z M24.28,2.28l4.08,8.6L11.67,6.75C15.49,3.67,19.9,2.1,24.28,2.28z
           M8.62,9.67l2.24,11.26L3.7,17.86C4.8,14.93,6.49,12.1,8.62,9.67z M3,20.02l7.78,3.33l-6,10.73c-1.6-3.36-2.55-6.45-2.52-9.01
          C2.27,23.42,2.54,21.72,3,20.02z M31.7,68.46l4.2-5.29l3.99,12.96C37.94,74.5,35.04,71.81,31.7,68.46z M54.6,66.88l-4.97-6.04
          l12.83-2.2C59.8,61.62,57.12,64.41,54.6,66.88z M81.5,24.95c-0.21,2.31-0.82,4.73-1.71,7.2l-6.21-8.85l7.55-3.26
          C81.51,21.71,81.64,23.37,81.5,24.95z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-heart:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'marquise' -%}
    <svg class="icon--forge-marquise {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 43.11 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M43.07,40.28c0.05-0.17,0.05-0.34,0.01-0.51c0.04-1.49,0.03-2.98-0.09-4.47C41.21,13.83,22.8,0.74,22.02,0.19
          c-0.04-0.03-0.09-0.05-0.14-0.07s-0.09-0.05-0.13-0.07c-0.08-0.03-0.16-0.04-0.25-0.04C21.47,0.01,21.44,0,21.42,0l0,0
          c0,0,0,0-0.01,0c-0.11,0-0.23,0.02-0.34,0.06C21.04,0.07,21.02,0.09,21,0.1c-0.08,0.03-0.15,0.06-0.22,0.12
          C19.99,0.8,1.36,14.96,0.05,36.96C0.01,37.58,0.01,38.2,0,38.82c0,0.05-0.01,0.1,0,0.15c-0.07,7.02,1.7,14.01,5.26,20.92
          c0.02,0.06,0.05,0.11,0.08,0.16c3.46,6.64,8.56,13.21,15.34,19.66c0.01,0.01,0.03,0.02,0.04,0.03c0.07,0.06,0.14,0.1,0.22,0.14
          c0.03,0.02,0.06,0.04,0.1,0.05C21.15,79.97,21.28,80,21.4,80l0,0c0.13,0,0.25-0.03,0.37-0.07c0.03-0.01,0.06-0.03,0.09-0.05
          c0.08-0.04,0.16-0.09,0.23-0.15c0.01-0.01,0.03-0.02,0.04-0.03C35.5,66.65,42.51,53.41,43.07,40.28z M9.22,62.63l7.74,4.83
          l-2.33,2.7C12.58,67.66,10.77,65.15,9.22,62.63z M2.18,41.97l5.73,6.96l-1.96,7.55C3.78,51.66,2.51,46.82,2.18,41.97z M5.94,22.38
          l1.8,7.15l-5.49,6.36C2.71,30.96,4.09,26.42,5.94,22.38z M14.62,9.1l2.31,2.74l-7.72,4.51C10.96,13.57,12.85,11.14,14.62,9.1z
           M23.04,11.79l-1.71,1.99l-1.62-1.92l1.7-6.55L23.04,11.79z M34.25,16.54l-8.42-4.76l2.52-2.93C30.29,10.97,32.36,13.55,34.25,16.54
          z M36.6,56.91l-1.75-6.94l5.88-6.81C40.17,47.73,38.79,52.32,36.6,56.91z M28.07,70.13l-2.05-2.49l7.11-4.5
          C31.65,65.47,29.97,67.8,28.07,70.13z M15.18,20.9l-5.75,6.68l-1.96-7.76l9.42-5.51L15.18,20.9z M19.05,14.36l0.87,1.03l-1.63,1.89
          L19.05,14.36z M13.98,25.52l-2.57,9.92l-1.35-5.37L13.98,25.52z M10.3,39.7l-1.74,6.71l-6.14-7.47l5.95-6.9L10.3,39.7z M11.38,43.96
          l2.14,8.47l-3.29-4.01L11.38,43.96z M14.72,57.22l1.9,7.55l-9.16-5.71l2.1-8.11L14.72,57.22z M18.91,65.2l-1.05-4.17l2.27,2.76
          L18.91,65.2z M16.65,56.24L12.48,39.7l4.61-17.8l4.21-4.88l4.36,5.17l4.71,18.65l-4.24,16l-4.6,5.33L16.65,56.24z M22.7,15.41
          l0.97-1.12l0.82,3.24L22.7,15.41z M29.28,53.19l2.16-8.13l1.1,4.36L29.28,53.19z M33.16,51.92l1.89,7.5l-8.93,5.66l1.91-7.22
          L33.16,51.92z M24.89,61.5l-0.95,3.6l-1.05-1.28L24.89,61.5z M34.22,47.47l-1.67-6.61l2.12-7.99l6.01,7.12L34.22,47.47z
           M31.48,36.64l-2.72-10.77L33,30.89L31.48,36.64z M27.59,21.21l-1.77-7.01l10.1,5.71l-2.25,8.5L27.59,21.21z M21.49,65.44l1.79,2.17
          l-1.87,7.16l-1.86-7.08L21.49,65.44z M24.93,69.63l1.76,2.14c-1.03,1.2-2.12,2.41-3.26,3.61L24.93,69.63z M40.96,37.05l-5.63-6.67
          l2.11-7.94c1.76,3.9,3.06,8.27,3.45,13.06C40.93,36.01,40.94,36.53,40.96,37.05z M26.9,7.31l-2.18,2.53l-1.52-6
          C24.22,4.71,25.5,5.87,26.9,7.31z M19.55,4.02l-1.52,5.86l-2-2.37C17.36,6.09,18.57,4.92,19.55,4.02z M16.02,71.78l1.86-2.15
          l1.53,5.84C18.22,74.24,17.09,73.01,16.02,71.78z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-marquise:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'oval' -%}
    <svg class="icon--forge-oval {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 52.03 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M52.03,40L52.03,40c0-4.54-0.5-8.9-1.41-12.97c0-0.05-0.02-0.09-0.03-0.14c-1.15-5.06-2.93-9.67-5.21-13.58
          c-0.05-0.16-0.13-0.29-0.24-0.4c-2.12-3.54-4.65-6.48-7.47-8.66c-0.09-0.11-0.19-0.21-0.33-0.28c-0.01-0.01-0.02,0-0.03-0.01
          C33.9,1.43,30.07,0.01,26.04,0c0,0,0,0-0.01,0h-0.01c-4.04,0-7.86,1.42-11.27,3.95c0,0,0,0-0.01,0c-0.15,0.06-0.26,0.17-0.36,0.28
          c-2.77,2.15-5.26,5.03-7.36,8.49c-0.11,0.11-0.19,0.24-0.24,0.38C2.57,20.21,0,29.65,0,40v0.01l0,0C0,44.6,0.51,49,1.44,53.11
          C1.33,53.4,1.34,53.73,1.52,54c0.05,0.07,0.11,0.11,0.17,0.17c2.35,9.51,6.99,17.29,12.89,21.75c0.09,0.11,0.2,0.2,0.33,0.26
          c0.01,0.01,0.02,0,0.03,0.01C18.31,78.63,22.06,80,26.02,80h0.01l0,0c3.95,0,7.7-1.37,11.06-3.82c0.02-0.01,0.05-0.01,0.07-0.03
          c0.12-0.06,0.22-0.15,0.3-0.25c6.12-4.63,10.88-12.85,13.14-22.86c0.01-0.04,0.02-0.08,0.03-0.12C51.54,48.87,52.03,44.52,52.03,40
          L52.03,40z M48.96,51.46l-4.1-2.02L50,42.91C49.86,45.87,49.51,48.73,48.96,51.46z M3.05,28.67l3.31,1.42l-4.3,6.51
          C2.21,33.86,2.55,31.21,3.05,28.67z M50,37.1l-4.85-6.13l3.83-2.3C49.52,31.36,49.87,34.18,50,37.1z M42.67,49.08l-4.92,3.66
          l3.4-12.49c0.04-0.16,0.05-0.34,0-0.5L38.1,27.92l4.93,3.49L49.82,40L42.67,49.08z M19.6,65.89l-2.14-8l6.77,4.84L19.6,65.89z
           M25.92,63.94l5.47,3.98l-5.38,9.2l-5.67-9.36L25.92,63.94z M27.58,62.73l6.8-5.06l-2.27,8.35L27.58,62.73z M25.92,61.53l-9.25-6.62
          l-4-14.93L16.39,25l9.14-6.2l10.11,7.35l3.56,13.82L35.21,54.6L25.92,61.53z M8.52,49.09l-6.35-9.1l6.36-9.64l5.45-3.7l-3.26,13.12
          c-0.04,0.16-0.04,0.33,0,0.49l3.45,12.88L8.52,49.09z M32.51,14.08l2.35,9.12l-7.62-5.55L32.51,14.08z M25.56,16.43l-5.75-4.18
          l6.18-9.45l5.8,9.41L25.56,16.43z M23.85,17.6l-6.75,4.58l2-8.04L23.85,17.6z M44.76,28.93l0.51-11.73
          c1.36,2.87,2.47,6.05,3.28,9.45L44.76,28.93z M42.81,28.87L37.34,25L34.4,13.6l9.03,0.87L42.81,28.87z M27.84,2.07
          c2.76,0.33,5.4,1.4,7.83,3.08l-2.65,5.33L27.84,2.07z M18.66,10.45l-2.32-5.27c2.42-1.69,5.04-2.76,7.79-3.1L18.66,10.45z
           M14.67,23.82l-5.9,4L8.68,14.3l8.53-0.72L14.67,23.82z M6.83,28.17l-3.35-1.44c0.81-3.42,1.92-6.62,3.28-9.49L6.83,28.17z
           M6.44,49.53l-3.31,2.22c-0.56-2.72-0.93-5.57-1.09-8.51L6.44,49.53z M6.84,51.62v11.32c-1.33-2.78-2.42-5.85-3.23-9.14L6.84,51.62z
           M8.79,51.68l6.18,4.42l2.72,10.18l-8.9-1.39V51.68z M19.12,69.53l5.09,8.4c-2.7-0.32-5.28-1.34-7.66-2.95L19.12,69.53z
           M32.63,69.65L35.45,75c-2.38,1.61-4.96,2.62-7.66,2.93L32.63,69.65z M36.91,55.79l5.47-4.07v13.5l-8.37,1.24L36.91,55.79z
           M44.33,51.35l4.2,2.07c-0.99,4.13-2.42,7.92-4.2,11.23V51.35z M42.57,12.42l-7.96-0.77l2.63-5.29
          C39.2,7.99,40.99,10.04,42.57,12.42z M14.75,6.4l2.3,5.24l-7.48,0.63C11.12,9.97,12.86,7.99,14.75,6.4z M9.01,66.89l8.56,1.34
          l-2.61,5.55C12.76,71.97,10.75,69.65,9.01,66.89z M37.03,73.81l-2.85-5.41l8.69-1.28C41.16,69.79,39.19,72.05,37.03,73.81z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-oval:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'pave' or icon == 'pavé' -%}
    <svg class="icon--forge-pave {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      height="{{ size }}" viewBox="0 0 80.27 80" xml:space="preserve">
        <g class="hover-fill" fill="{{ fill }}">
          <path d="M1.54,59.4c0-10.72,8.72-19.45,19.45-19.45s19.45,8.72,19.45,19.45c0,10.72-8.72,19.45-19.45,19.45S1.54,70.12,1.54,59.4z
           M40.04,59.4c0-10.51-8.55-19.06-19.06-19.06c-10.51,0-19.06,8.55-19.06,19.06s8.55,19.06,19.06,19.06
          C31.5,78.46,40.04,69.91,40.04,59.4z M7.33,73.15v-8.19l0.02-0.09l3.04-5.56l2.8-7.84l0.11-0.11l7.61-3.07l5.67-3.19l0.1-0.02
          l7.79,0.4l0.18,0.2l-0.12,7.58l5.83,6.02l-0.01,0.27l-5.88,5.56l-0.08,0.05l-5.37,1.54l-7.94,3.45l-5.57,3.19l-0.1,0.03h-7.9
          L7.33,73.15z M7.71,65.01v7.94h7.66l5.55-3.17l7.99-3.46l5.35-1.53l5.71-5.4l-5.75-5.94l-0.05-0.14l0.12-7.47l-7.55-0.39l-5.64,3.17
          l-7.55,3.05l-2.79,7.79L7.71,65.01z M10.38,59.48l3.19,7.33l1.66,6.4l0.05,0.09l5.56,5.5l0.27,0l5.44-5.5l2.6-6.72l2.68-7.09
          l2.65-6.01l4.16-1.71l-0.15-0.36l-4.23,1.74l-0.1,0.1l-2.69,6.09l-2.69,7.1l-2.54,6.61l-5.27,5.33l-5.39-5.33l-1.66-6.37l-3.21-7.37
          l-2.94-5.37l5.65-2.22l0.11-0.11l2.35-6.05l5.01,3.09l7.87,3.07l0.25-0.24l-2.15-6.21l1.16-3.79l-0.37-0.11l-1.18,3.85l0,0.12
          l2.04,5.87l-7.45-2.9l-5.18-3.2l-0.28,0.09l-2.4,6.19l-5.78,2.27l-0.1,0.27L10.38,59.48z M31.49,59.48l2.69,5.56l0.08,0.09
          l4.23,2.26l0.18-0.34l-4.17-2.23l-2.65-5.49l-2.68-7.5l5.13,1.67l0.12-0.37l-5.5-1.79l-0.24,0.25L31.49,59.48z M15.63,45.34
          l0.31,0.06l5.05-4.99l5.56,5l0.26-0.29L21.12,40l-0.27,0.01l-4.98,4.92l-1.59-3.59l-0.35,0.16L15.63,45.34z M7.42,54l0.29-0.17
          v-8.38h8.09v-0.39H7.52l-0.19,0.19v8.24l-3.82-2.14L3.32,51.7L7.42,54z M28.04,77.32l0.35-0.15l-1.67-3.82h7.64l0.19-0.19v-8.19
          h-0.39v7.99h-7.74l-0.18,0.27L28.04,77.32z M7.38,65.1l0.08,0.05l6.22,1.78l7.24,3.19l5.41,3.2l0.2-0.33l-5.43-3.21l-7.28-3.21
          l-6.19-1.78l-5.6-5.39l5.64-5.43L7.38,53.7L1.6,59.26v0.28L7.38,65.1z M14.29,77.3l1.32-4.09l-0.37-0.12l-1.32,4.09L14.29,77.3z
           M3.48,67.39l4.13-2.26L7.43,64.8L3.3,67.05L3.48,67.39z"/>
        <path d="M1.54,20.99c0-10.72,8.72-19.45,19.45-19.45s19.45,8.72,19.45,19.45c0,10.72-8.72,19.45-19.45,19.45S1.54,31.71,1.54,20.99z
           M40.04,20.99c0-10.51-8.55-19.06-19.06-19.06c-10.51,0-19.06,8.55-19.06,19.06s8.55,19.06,19.06,19.06
          C31.5,40.04,40.04,31.5,40.04,20.99z M7.33,34.74v-8.19l0.02-0.09l3.04-5.56l2.8-7.84l0.11-0.11l7.61-3.07l5.67-3.19l0.1-0.02
          l7.79,0.4l0.18,0.2l-0.12,7.58l5.83,6.02l-0.01,0.27l-5.88,5.56l-0.08,0.05l-5.37,1.54l-7.94,3.45l-5.57,3.19l-0.1,0.03h-7.9
          L7.33,34.74z M7.71,26.6v7.94h7.66l5.55-3.17l7.99-3.46l5.35-1.53l5.71-5.4l-5.75-5.94l-0.05-0.14l0.12-7.47l-7.55-0.39l-5.64,3.17
          l-7.55,3.05l-2.79,7.79L7.71,26.6z M10.38,21.06l3.19,7.33l1.66,6.4l0.05,0.09l5.56,5.5l0.27,0l5.44-5.5l2.6-6.72l2.68-7.09
          l2.65-6.01l4.16-1.71L38.51,13l-4.23,1.74l-0.1,0.1l-2.69,6.09l-2.69,7.1l-2.54,6.61l-5.27,5.33l-5.39-5.33l-1.66-6.37l-3.21-7.37
          l-2.94-5.37l5.65-2.22l0.11-0.11l2.35-6.05l5.01,3.09l7.87,3.07l0.25-0.24l-2.15-6.21l1.16-3.79l-0.37-0.11l-1.18,3.85l0,0.12
          l2.04,5.87l-7.45-2.9l-5.18-3.2l-0.28,0.09l-2.4,6.19l-5.78,2.27l-0.1,0.27L10.38,21.06z M31.49,21.07l2.69,5.56l0.08,0.09
          l4.23,2.26l0.18-0.34l-4.17-2.23l-2.65-5.49l-2.68-7.5l5.13,1.67l0.12-0.37l-5.5-1.79l-0.24,0.25L31.49,21.07z M15.63,6.93
          l0.31,0.06L20.99,2l5.56,5l0.26-0.29l-5.69-5.12L20.85,1.6l-4.98,4.92l-1.59-3.59l-0.35,0.16L15.63,6.93z M7.42,15.59l0.29-0.17
          V7.04h8.09V6.66H7.52L7.33,6.85v8.24l-3.82-2.14l-0.19,0.34L7.42,15.59z M28.04,38.91l0.35-0.15l-1.67-3.82h7.64l0.19-0.19v-8.19
          h-0.39v7.99h-7.74l-0.18,0.27L28.04,38.91z M7.38,26.69l0.08,0.05l6.22,1.78l7.24,3.19l5.41,3.2l0.2-0.33l-5.43-3.21l-7.28-3.21
          l-6.19-1.78l-5.6-5.39l5.64-5.43l-0.27-0.28L1.6,20.85v0.28L7.38,26.69z M14.29,38.89l1.32-4.09l-0.37-0.12l-1.32,4.09L14.29,38.89z
           M3.48,28.98l4.13-2.26l-0.19-0.34L3.3,28.64L3.48,28.98z"/>
        <path d="M39.84,59.4c0-10.72,8.72-19.45,19.45-19.45s19.45,8.72,19.45,19.45c0,10.72-8.72,19.45-19.45,19.45S39.84,70.12,39.84,59.4
          z M78.34,59.4c0-10.51-8.55-19.06-19.06-19.06c-10.51,0-19.06,8.55-19.06,19.06s8.55,19.06,19.06,19.06
          C69.79,78.46,78.34,69.91,78.34,59.4z M45.62,73.15v-8.19l0.02-0.09l3.04-5.56l2.8-7.84l0.11-0.11l7.61-3.07l5.67-3.19l0.1-0.02
          l7.79,0.4l0.18,0.2l-0.12,7.58l5.83,6.02l-0.01,0.27l-5.88,5.56l-0.08,0.05l-5.37,1.54l-7.94,3.45l-5.57,3.19l-0.1,0.03h-7.9
          L45.62,73.15z M46.01,65.01v7.94h7.66l5.55-3.17l7.99-3.46l5.35-1.53l5.71-5.4l-5.75-5.94l-0.05-0.14l0.12-7.47l-7.55-0.39
          l-5.64,3.17l-7.55,3.05l-2.79,7.79L46.01,65.01z M48.68,59.48l3.19,7.33l1.66,6.4l0.05,0.09l5.56,5.5l0.27,0l5.44-5.5l2.6-6.72
          l2.68-7.09l2.65-6.01l4.16-1.71l-0.15-0.36l-4.23,1.74l-0.1,0.1l-2.69,6.09l-2.69,7.1l-2.54,6.61l-5.27,5.33l-5.39-5.33l-1.66-6.37
          l-3.21-7.37l-2.94-5.37l5.65-2.22l0.11-0.11l2.35-6.05l5.01,3.09l7.87,3.07l0.25-0.24l-2.15-6.21l1.16-3.79l-0.37-0.11l-1.18,3.85
          l0,0.12l2.04,5.87l-7.45-2.9l-5.18-3.2l-0.28,0.09l-2.4,6.19l-5.78,2.27l-0.1,0.27L48.68,59.48z M69.79,59.48l2.69,5.56l0.08,0.09
          l4.23,2.26l0.18-0.34l-4.17-2.23l-2.65-5.49l-2.68-7.5l5.13,1.67l0.12-0.37l-5.5-1.79l-0.24,0.25L69.79,59.48z M53.93,45.34
          l0.31,0.06l5.05-4.99l5.56,5l0.26-0.29L59.41,40l-0.27,0.01l-4.98,4.92l-1.59-3.59l-0.35,0.16L53.93,45.34z M45.72,54l0.29-0.17
          v-8.38h8.09v-0.39h-8.29l-0.19,0.19v8.24l-3.82-2.14l-0.19,0.34L45.72,54z M66.33,77.32l0.35-0.15l-1.67-3.82h7.64l0.19-0.19v-8.19
          h-0.39v7.99h-7.74l-0.18,0.27L66.33,77.32z M45.68,65.1l0.08,0.05l6.22,1.78l7.24,3.19l5.41,3.2l0.2-0.33l-5.43-3.21l-7.28-3.21
          l-6.19-1.78l-5.6-5.39l5.64-5.43l-0.27-0.28l-5.78,5.56v0.28L45.68,65.1z M52.58,77.3l1.32-4.09l-0.37-0.12l-1.32,4.09L52.58,77.3z
           M41.78,67.39l4.13-2.26l-0.19-0.34l-4.13,2.26L41.78,67.39z"/>
        <path d="M39.84,20.99c0-10.72,8.72-19.45,19.45-19.45s19.45,8.72,19.45,19.45c0,10.72-8.72,19.45-19.45,19.45
          S39.84,31.71,39.84,20.99z M78.34,20.99c0-10.51-8.55-19.06-19.06-19.06c-10.51,0-19.06,8.55-19.06,19.06s8.55,19.06,19.06,19.06
          C69.79,40.04,78.34,31.5,78.34,20.99z M45.62,34.74v-8.19l0.02-0.09l3.04-5.56l2.8-7.84l0.11-0.11l7.61-3.07l5.67-3.19l0.1-0.02
          l7.79,0.4l0.18,0.2l-0.12,7.58l5.83,6.02l-0.01,0.27l-5.88,5.56l-0.08,0.05l-5.37,1.54l-7.94,3.45l-5.57,3.19l-0.1,0.03h-7.9
          L45.62,34.74z M46.01,26.6v7.94h7.66l5.55-3.17l7.99-3.46l5.35-1.53l5.71-5.4l-5.75-5.94l-0.05-0.14l0.12-7.47l-7.55-0.39
          l-5.64,3.17l-7.55,3.05l-2.79,7.79L46.01,26.6z M48.68,21.06l3.19,7.33l1.66,6.4l0.05,0.09l5.56,5.5l0.27,0l5.44-5.5l2.6-6.72
          l2.68-7.09l2.65-6.01l4.16-1.71L76.8,13l-4.23,1.74l-0.1,0.1l-2.69,6.09l-2.69,7.1l-2.54,6.61l-5.27,5.33l-5.39-5.33l-1.66-6.37
          l-3.21-7.37l-2.94-5.37l5.65-2.22l0.11-0.11l2.35-6.05l5.01,3.09l7.87,3.07l0.25-0.24l-2.15-6.21l1.16-3.79l-0.37-0.11l-1.18,3.85
          l0,0.12l2.04,5.87l-7.45-2.9l-5.18-3.2l-0.28,0.09l-2.4,6.19l-5.78,2.27l-0.1,0.27L48.68,21.06z M69.79,21.07l2.69,5.56l0.08,0.09
          l4.23,2.26l0.18-0.34l-4.17-2.23l-2.65-5.49l-2.68-7.5l5.13,1.67l0.12-0.37l-5.5-1.79l-0.24,0.25L69.79,21.07z M53.93,6.93
          l0.31,0.06L59.29,2l5.56,5l0.26-0.29l-5.69-5.12L59.15,1.6l-4.98,4.92l-1.59-3.59l-0.35,0.16L53.93,6.93z M45.72,15.59l0.29-0.17
          V7.04h8.09V6.66h-8.29l-0.19,0.19v8.24l-3.82-2.14l-0.19,0.34L45.72,15.59z M66.33,38.91l0.35-0.15l-1.67-3.82h7.64l0.19-0.19v-8.19
          h-0.39v7.99h-7.74l-0.18,0.27L66.33,38.91z M45.68,26.69l0.08,0.05l6.22,1.78l7.24,3.19l5.41,3.2l0.2-0.33l-5.43-3.21l-7.28-3.21
          l-6.19-1.78l-5.6-5.39l5.64-5.43l-0.27-0.28l-5.78,5.56v0.28L45.68,26.69z M52.58,38.89l1.32-4.09l-0.37-0.12l-1.32,4.09
          L52.58,38.89z M41.78,28.98l4.13-2.26l-0.19-0.34l-4.13,2.26L41.78,28.98z"/>
        <path d="M41.59,20.79c0,0.85-0.69,1.54-1.54,1.54s-1.54-0.69-1.54-1.54c0-0.85,0.69-1.54,1.54-1.54S41.59,19.94,41.59,20.79z
           M20.99,0.05c-0.85,0-1.54,0.69-1.54,1.54s0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54S21.84,0.05,20.99,0.05z M78.73,19.45
          c-0.85,0-1.54,0.69-1.54,1.54c0,0.85,0.69,1.54,1.54,1.54c0.85,0,1.54-0.69,1.54-1.54C80.27,20.14,79.58,19.45,78.73,19.45z
           M59.28,38.41c-0.85,0-1.54,0.69-1.54,1.54s0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54S60.13,38.41,59.28,38.41z M78.73,57.86
          c-0.85,0-1.54,0.69-1.54,1.54s0.69,1.54,1.54,1.54c0.85,0,1.54-0.69,1.54-1.54S79.58,57.86,78.73,57.86z M59.28,0
          c-0.85,0-1.54,0.69-1.54,1.54s0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54S60.13,0,59.28,0z M59.28,76.92c-0.85,0-1.54,0.69-1.54,1.54
          c0,0.85,0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54C60.82,77.61,60.13,76.92,59.28,76.92z M20.99,38.5c-0.85,0-1.54,0.69-1.54,1.54
          s0.69,1.54,1.54,1.54c0.85,0,1.54-0.69,1.54-1.54S21.84,38.5,20.99,38.5z M1.54,19.45C0.69,19.45,0,20.14,0,20.99
          c0,0.85,0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54C3.08,20.14,2.39,19.45,1.54,19.45z M40.04,57.86c-0.85,0-1.54,0.69-1.54,1.54
          s0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54S40.9,57.86,40.04,57.86z M20.99,76.92c-0.85,0-1.54,0.69-1.54,1.54
          c0,0.85,0.69,1.54,1.54,1.54c0.85,0,1.54-0.69,1.54-1.54C22.53,77.61,21.84,76.92,20.99,76.92z M1.54,57.86
          C0.69,57.86,0,58.55,0,59.4s0.69,1.54,1.54,1.54s1.54-0.69,1.54-1.54S2.39,57.86,1.54,57.86z"/>
        </g>
      <style>{{ wrapper }} .icon--forge-pave:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'pear' -%}
    <svg class="icon--forge-pear {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 52.52 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M52.52,52.42c0-9.89-3.4-19.57-8.26-28.35c-0.04-0.12-0.1-0.24-0.19-0.34c-5.03-9-11.57-17.05-17.54-23.42
          c-0.01-0.02-0.04-0.02-0.05-0.04c-0.06-0.06-0.13-0.1-0.2-0.14c-0.04-0.02-0.08-0.05-0.12-0.07C26.06,0.02,25.94,0,25.83,0l0,0
          h-0.01h-0.01c-0.02,0-0.03,0.01-0.05,0.01c-0.11,0.01-0.21,0.03-0.31,0.07c-0.03,0.01-0.07,0.03-0.1,0.05
          c-0.08,0.05-0.15,0.11-0.21,0.17c-0.02,0.02-0.04,0.03-0.06,0.04c-3.14,3.73-6.02,7.25-8.66,10.71c-0.01,0-0.01,0.01-0.02,0.01
          c-0.11,0.1-0.19,0.21-0.25,0.34c-3.22,4.25-6.03,8.41-8.38,12.74c-0.08,0.1-0.14,0.22-0.18,0.34C3.5,32.14,0.85,40.37,0,50.64
          c0,0.42,0.02,0.83,0.03,1.24C0.02,51.97,0,52.06,0.01,52.16c0,0.03,0.02,0.05,0.03,0.08c0.29,8.5,2.92,14.42,6.49,18.53
          c0.01,0.01,0.01,0.02,0.01,0.02c0.01,0.01,0.02,0.02,0.03,0.03c2.17,2.49,4.68,4.32,7.22,5.66c0.07,0.05,0.14,0.09,0.21,0.11
          c4.35,2.24,8.77,3.09,11.7,3.4c0.03,0,0.07,0.01,0.1,0.01l0,0l0,0c9.24,0,15.47-4.04,19.58-9.15c0.02-0.02,0.05-0.03,0.06-0.05
          c0.02-0.02,0.02-0.05,0.03-0.07c5.05-6.36,6.84-14.33,7.02-18.27C52.52,52.45,52.52,52.43,52.52,52.42z M45.1,67.99l-2.56-9.38
          l7.86-4.43C49.91,57.8,48.38,63.22,45.1,67.99z M9.53,71.18h8.7l-4.03,3.38C12.57,73.66,10.98,72.55,9.53,71.18z M2.1,54l7.19,5.07
          l-2.43,9.08C4.36,64.71,2.57,60.12,2.1,54z M17.1,13.39l2.93,3.44l-8.78,5.19C12.99,19.12,14.95,16.27,17.1,13.39z M40.72,21.82
          l-9.24-5.03l3.19-3.85C36.79,15.75,38.84,18.72,40.72,21.82z M9.57,25.27l10.39-6.13l-3.35,12.52l-5.48,6.61L9.57,25.27z
           M29.71,18.93l2.52,9.25l-5.16-6.07L29.71,18.93z M25.79,20.6l-3.19-3.75l3.24-12.12l3.24,11.91L25.79,20.6z M24.52,22.12
          l-4.92,5.94l2.39-8.93L24.52,22.12z M12.87,53.22l2.66,6.47l-3.96-1.6L12.87,53.22z M12.74,46.17l-1.24-5.28l3.91-4.72L12.74,46.17z
           M9.94,42.77l1.73,7.39l-1.85,6.9l-7.41-5.22L9.94,42.77z M11.07,59.99l5.5,2.22l2.88,7.02H8.6L11.07,59.99z M25.98,66.4l2.57,2.83
          h-5.34L25.98,66.4z M21.25,68.46l-2.15-5.23l5.2,2.1L21.25,68.46z M29.1,71.18l-3.27,5.85l-3.26-5.85H29.1z M27.64,65.32l4.76-2.12
          l-1.98,5.18L27.64,65.32z M25.99,63.92l-7.93-3.21l-4.35-10.6l4.69-17.54l7.41-8.94l7.63,8.98l4.44,16.29l-4.49,11.72L25.99,63.92z
           M36.41,36.11l3.52,4.14l-1.1,4.72L36.41,36.11z M38.74,52.09l1.5,5.49l-4.34,1.93L38.74,52.09z M39.91,48.94l1.6-6.83l8.53,10.04
          l-8.02,4.52L39.91,48.94z M35.2,31.68l-3.4-12.49l10.48,5.7l-1.93,12.85L35.2,31.68z M30.6,14.79L27.83,4.62
          c1.87,2.1,3.77,4.35,5.62,6.74L30.6,14.79z M21.06,15.03l-2.75-3.24c1.7-2.22,3.51-4.48,5.43-6.8L21.06,15.03z M9.42,40.34
          l-7.28,8.78c0.83-7.99,2.82-14.74,5.81-21L9.42,40.34z M20.63,71.71l3.4,6.1c-2.46-0.39-5.21-1.09-7.92-2.3L20.63,71.71z
           M30.96,71.85l4.12,4.45c-2.21,0.91-4.72,1.52-7.56,1.69L30.96,71.85z M34.92,62.08l5.84-2.6l2.66,9.75H32.18L34.92,62.08z
           M42.03,39.71l1.84-12.25c3.58,7.01,6.1,14.52,6.6,22.18L42.03,39.71z M36.93,75.43L33,71.18h9.52
          C40.94,72.82,39.09,74.28,36.93,75.43z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-pear:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'princess' -%}
    <svg class="icon--forge-princess {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 80 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M79.93,79.27c0.03-0.08,0.04-0.17,0.05-0.25c0-0.03,0.01-0.05,0.01-0.07V1.05c0-0.02-0.01-0.04-0.01-0.07
          c-0.01-0.09-0.02-0.17-0.05-0.26c-0.01-0.04-0.02-0.08-0.04-0.12c-0.04-0.09-0.1-0.16-0.16-0.24c-0.02-0.02-0.03-0.05-0.05-0.07
          c0,0,0-0.01-0.01-0.01c-0.09-0.09-0.19-0.15-0.3-0.2c-0.03-0.01-0.06-0.01-0.09-0.02C79.19,0.04,79.1,0.02,79,0.01
          C78.98,0.01,78.96,0,78.95,0H1.05C1.03,0,1.01,0.01,0.99,0.01C0.9,0.02,0.82,0.04,0.74,0.06C0.7,0.08,0.65,0.08,0.61,0.1
          C0.53,0.14,0.46,0.2,0.39,0.26C0.36,0.28,0.33,0.29,0.3,0.32c0,0-0.01,0.01-0.01,0.01c-0.09,0.09-0.15,0.2-0.2,0.31
          C0.08,0.66,0.08,0.68,0.07,0.7C0.03,0.8,0.01,0.91,0.01,1.02C0.01,1.03,0,1.04,0,1.05v77.89c0,0.01,0.01,0.02,0.01,0.03
          c0,0.13,0.03,0.26,0.08,0.38c0.01,0.02,0.03,0.04,0.04,0.06c0.04,0.08,0.08,0.16,0.15,0.23c0.01,0.01,0.02,0.01,0.02,0.02
          c0.08,0.08,0.17,0.14,0.27,0.2c0.03,0.01,0.05,0.04,0.08,0.05C0.76,79.97,0.9,80,1.05,80h77.89c0.01,0,0.02-0.01,0.04-0.01
          c0.12,0,0.23-0.03,0.34-0.07c0.01,0,0.03,0,0.04-0.01c0.11-0.05,0.21-0.11,0.3-0.19c0.01-0.01,0.01-0.01,0.01-0.02
          c0.03-0.03,0.05-0.06,0.08-0.1c0.06-0.07,0.11-0.14,0.14-0.21C79.91,79.36,79.92,79.32,79.93,79.27z M40.82,64.2l-22.02-2.8
          l-2.27-21.23l2.1-21.74L40,16.34l22.46,2.1l1.74,21.55l-2.1,21.42L40.82,64.2z M15.05,33.44l-5.03-19.37l6.52,3.96L15.05,33.44z
           M14.2,38.52L9.4,59.3V20.06L14.2,38.52z M14.9,44.84l1.82,16.97l-6.75,4.42L14.9,44.84z M65.78,45.58l5.81,20.13l-7.39-3.96
          L65.78,45.58z M72.16,60.1l-5.8-20.11l5.41-19.78L72.16,60.1z M65.83,33.93l-1.28-15.85l6.54-3.4L65.83,33.93z M62.78,16.35
          L45.9,14.78L65.8,9.39L62.78,16.35z M40,14.19L20.29,8.86h39.42L40,14.19z M34.17,14.79l-15.92,1.56l-3.77-6.89L34.17,14.79z
           M14.84,14.53l-5.75-3.5L4.59,4.39l6.99,4.17L14.84,14.53z M9.1,69.32l6.15-4.02l-3.13,6.5l-7.64,4.11L9.1,69.32z M18.46,63.49
          l16.83,2.14l-20.43,5.34L18.46,63.49z M40.82,66.35l19.72,5.16H21.1L40.82,66.35z M46.3,65.61l16.2-2.12l4.12,7.44L46.3,65.61z
           M65.73,64.96l6.77,3.63l3.79,7.45l-6.77-4.23L65.73,64.96z M71.97,11.85l-6.38,3.32l2.88-6.63l7.76-4.63L71.97,11.85z M67.35,6.75
          H12.65L4.87,2.11h70.25L67.35,6.75z M7.3,12.14v56.08l-5.19,7.4V4.48L7.3,12.14z M13.18,73.62h55.25l6.84,4.28H5.23L13.18,73.62z
           M74.34,67.56L73.8,12.9l4.09-7.64v69.29L74.34,67.56z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-princess:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'radiant' -%}
    <svg class="icon--forge-radiant {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 65.27 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M65.26,8.86c0-0.01,0-0.01,0-0.02c0-0.08-0.03-0.15-0.05-0.23c-0.01-0.05-0.01-0.1-0.03-0.14
          c-0.02-0.06-0.07-0.1-0.1-0.15c-0.04-0.05-0.06-0.11-0.1-0.15l-8.01-7.88c-0.06-0.06-0.13-0.09-0.19-0.13
          c-0.04-0.02-0.07-0.06-0.11-0.08c-0.06-0.02-0.12-0.03-0.18-0.04C56.41,0.03,56.35,0,56.29,0h-0.01H9.37C9.36,0,9.35,0,9.34,0.01
          c-0.06,0-0.11,0.02-0.17,0.03S9.04,0.06,8.98,0.09C8.93,0.11,8.89,0.15,8.84,0.18s-0.11,0.05-0.15,0.1l-8.4,8.01
          c0,0-0.01,0.02-0.02,0.03C0.26,8.33,0.24,8.34,0.23,8.35C0.2,8.39,0.18,8.44,0.16,8.49c-0.03,0.05-0.07,0.1-0.09,0.16
          C0.04,8.72,0.03,8.79,0.02,8.86C0.02,8.9,0,8.94,0,8.99v61.12c0,0.05,0.02,0.1,0.03,0.15c0.01,0.06,0.01,0.12,0.03,0.17
          c0.03,0.07,0.07,0.13,0.11,0.2c0.02,0.04,0.03,0.08,0.06,0.11c0,0.01,0.01,0.01,0.02,0.01c0.01,0.01,0.01,0.02,0.01,0.02l8.4,8.92
          c0,0,0.01,0,0.01,0.01s0,0.01,0.01,0.01c0.05,0.05,0.12,0.08,0.18,0.12C8.91,79.86,8.95,79.9,9,79.92C9.12,79.97,9.25,80,9.38,80
          h47.55c0.13,0,0.26-0.03,0.38-0.08c0.04-0.02,0.07-0.05,0.11-0.07c0.06-0.03,0.12-0.06,0.17-0.1c0.02-0.02,0.02-0.04,0.04-0.05
          c0.01-0.01,0.03-0.02,0.05-0.04L65.03,71c0.03-0.03,0.04-0.07,0.06-0.11c0.03-0.04,0.06-0.08,0.08-0.13
          c0.03-0.06,0.04-0.13,0.06-0.2c0.01-0.05,0.02-0.1,0.03-0.15c0-0.02,0.01-0.03,0.01-0.05V8.86H65.26z M56.9,77.55l-5.33-5.83
          l8.14-5.35l3.31,4L56.9,77.55z M2.38,70.18l4.97-4.26l8.01,5.73l-5.97,5.97L2.38,70.18z M1.95,11.11l4.38,3.75v49.37l-4.38,3.75
          V11.11z M9.39,2.31l6.03,5.41l-8.04,5.47L2.43,8.95L9.39,2.31z M62.93,8.89l-3.96,4.26l-8.25-5.46l5.55-5.35L62.93,8.89z
           M49.14,70.11c-2.85-1.12-5.71-2.05-8.53-2.83c3.3-0.5,6.19-0.82,8.65-1.02L49.14,70.11z M35.77,66.09
          c-6.91-1.52-13.32-2.16-18.31-2.4L16.3,40.07l1.27-24.31c5-0.28,10.09-1.11,14.7-2.1c6.01,1.18,11.79,1.66,16.46,1.84l1.67,24.14
          l-1.05,24.64C45.72,64.56,41.19,65.11,35.77,66.09z M17.55,65.64c3.72,0.18,8.24,0.6,13.15,1.44c-3.92,0.83-8.23,1.87-12.92,3.18
          L17.55,65.64z M17.89,9.3c3.09,1.35,6.33,2.42,9.58,3.26c-3.21,0.57-6.54,1.01-9.82,1.21L17.89,9.3z M48.58,13.49
          c-3.34-0.14-7.23-0.43-11.35-1.02c5.08-1.3,9.12-2.63,11.05-3.3L48.58,13.49z M52.12,44.92L58.51,64c-1.41-0.06-3.82-0.08-7.21,0.12
          L52.12,44.92z M51.98,34.31l-1.3-18.77c3.15,0.07,5.64,0,7.09-0.07L51.98,34.31z M50.54,13.56l-0.26-3.83l5.79,3.83
          C54.64,13.6,52.76,13.61,50.54,13.56z M32.23,11.62c-3.45-0.69-6.94-1.61-10.3-2.82h21.12C40.16,9.67,36.4,10.71,32.23,11.62z
           M15.7,13.87c-1.94,0.06-3.85,0.03-5.68-0.12l5.9-4.01L15.7,13.87z M15.6,15.83l-0.98,18.75L8.68,15.57
          C10.91,15.82,13.23,15.89,15.6,15.83z M8.28,20.81l6.01,19.25L8.28,58.53V20.81z M14.6,45.41l0.9,18.2
          c-3.06-0.09-5.42-0.04-6.83,0.02L14.6,45.41z M15.59,65.56l0.2,4l-5.62-4.03C11.55,65.5,13.39,65.49,15.59,65.56z M35.78,68.09
          c2.9,0.65,5.88,1.46,8.88,2.47H24.33C28.5,69.52,32.32,68.71,35.78,68.09z M51.22,66.12c2.33-0.15,4.2-0.19,5.59-0.18l-5.7,3.75
          L51.22,66.12z M52.39,39.6l5.85-19l0.58,38.2L52.39,39.6z M48.78,6.85H17.37l-5.45-4.9h41.94L48.78,6.85z M17.27,72.5h32.38
          l5.07,5.54H11.73L17.27,72.5z M60.86,64.71L60.1,14.79l3.21-3.45v56.32L60.86,64.71z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-radiant:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'round' -%}
    <svg class="icon--forge-round {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 80 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M76.17,57.07c0.04-0.07,0.07-0.14,0.1-0.21C78.65,51.73,80,46.02,80,40c0-5.46-1.1-10.66-3.09-15.4
        c-0.02-0.05-0.03-0.1-0.06-0.15C73.01,15.39,65.92,8.03,57.06,3.83C57,3.79,56.94,3.77,56.88,3.75C51.74,1.35,46.03,0,40,0
        c-6.02,0-11.73,1.35-16.86,3.74c-0.07,0.02-0.13,0.05-0.19,0.09c-8.89,4.21-16,11.6-19.83,20.7c-0.03,0.05-0.05,0.11-0.06,0.16
        C1.09,29.4,0,34.58,0,40c0,5.42,1.09,10.59,3.05,15.31c0.02,0.06,0.04,0.11,0.06,0.16c3.95,9.37,11.38,16.93,20.65,21.07
        c0.08,0.05,0.17,0.09,0.26,0.12C28.93,78.8,34.33,80,40,80c5.66,0,11.05-1.19,15.94-3.32c0.11-0.03,0.21-0.08,0.3-0.14
        C64.98,72.64,72.07,65.7,76.17,57.07z M39.52,71.85l-6.71-9.63l13.37,0.13L39.52,71.85z M39.52,8.14l6.64,9.19L32.84,17.6
        L39.52,8.14z M61.41,32.98L71.5,40l-10.09,7.04V32.98z M59.82,29.07l-9.7-10.05l11.79-1.34L59.82,29.07z M47.64,60.43l-16.31-0.16
        L19.57,48.51V31.68l11.78-12.09l16.29-0.33L59.46,31.5v17L47.64,60.43z M19.25,29.21l-1.87-11.65L28.9,19.3L19.25,29.21z M17.62,47
        l-9.66-6.99l9.66-6.84V47z M19.23,50.93l9.64,9.63l-11.64,1.74L19.23,50.93z M59.79,50.94l1.96,11.37l-11.64-1.6L59.79,50.94z
         M63.66,61.94L61.5,49.36l10.94-7.64l1.85,14.31L63.66,61.94z M72.52,38.33l-11.01-7.67l2.3-12.5l11.11,7.18L72.52,38.33z
         M48.5,17.24l-7.21-9.98l14.72-1.56l5.54,10.06L48.5,17.24z M30.48,17.56l-12.67-1.91l6.14-9.95l13.82,1.55L30.48,17.56z
         M15.49,18.08l2.04,12.75L7.01,38.29L5.03,25.42L15.49,18.08z M7,41.73l10.52,7.62l-2.19,12.44l-10.31-7.2L7,41.73z M30.47,62.29
        l7.33,10.53l-13.05,1.87L17.71,64.2L30.47,62.29z M48.5,62.45l12.85,1.77l-6.16,10.46L41.23,72.8L48.5,62.45z M58.21,73.4l5.43-9.21
        l9.29-5.17C69.44,65.05,64.34,70.04,58.21,73.4z M75.84,52.77l-1.65-12.74l2.11-11.44c1.13,3.6,1.75,7.44,1.75,11.41
        C78.05,44.48,77.27,48.78,75.84,52.77z M73.61,22.19l-9.76-6.31l-4.86-8.83C65.16,10.62,70.25,15.87,73.61,22.19z M52.58,4.1
        L39.52,5.48L27.37,4.12c3.95-1.4,8.2-2.16,12.63-2.16C44.41,1.95,48.64,2.71,52.58,4.1z M20.72,7.22l-5.23,8.49l-9.01,6.32
        C9.78,15.88,14.73,10.76,20.72,7.22z M3.6,28.93L5.29,40L3.6,51.07C2.53,47.57,1.95,43.85,1.95,40C1.95,36.15,2.53,32.43,3.6,28.93z
         M6.47,57.96l8.86,6.19l6.06,9.02C15.09,69.62,9.9,64.34,6.47,57.96z M28.19,76.16l11.33-1.62l12.23,1.64
        c-3.7,1.2-7.65,1.86-11.74,1.86C35.88,78.05,31.91,77.38,28.19,76.16z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-round:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- elsif icon == 'trillion' -%}
    <svg class="icon--forge-trillion {{ classes }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="{{ size }}" viewBox="0 0 80 80" xml:space="preserve">
      <g class="hover-fill" fill="{{ fill }}">
        <path d="M79.78,68.47c0.04-0.28,2.32-18.47-8.69-38.22l-0.39-0.68C64.91,19.42,55.57,8.93,40.61,0.28L40.12,0l-0.49,0.26
        c-0.27,0.15-17.98,9.94-29.63,28.57L9.59,29.5C3.37,39.7-1,52.47,0.19,67.7l0.72,1.06c14.01,8.1,27.19,10.98,38.6,11.18
        c0.08,0.02,0.17,0.05,0.25,0.07l0.02-0.06c0.14,0,0.29,0.01,0.43,0.01L40.24,80c0.06-0.02,0.13-0.04,0.2-0.05
        c0.11,0,0.23,0.01,0.34,0.01c20.55,0,35.1-8.59,38.04-10.46l0.79-0.53L79.78,68.47z M40.02,78.04c-0.01,0-0.02,0-0.02,0
        c-4.97-1.32-13.81-7.17-17.84-9.97c6.35-0.62,12.13-1.58,17.33-2.75c5.35,1.19,11.39,2.2,18.13,2.93
        C53.45,71.11,44.89,76.75,40.02,78.04z M3.39,49.78c0.84,0.71,2.1,1.7,3.84,2.86c-2.22,3.29-3.97,6.51-5.25,9.66
        C2,57.9,2.51,53.72,3.39,49.78z M19.3,59.02c-0.27,2.37-0.54,4.84-0.77,7.4c-5.01,0.37-10.35,0.54-16.07,0.43
        C3.73,62.42,6,58.01,8.89,53.72C11.51,55.33,14.94,57.17,19.3,59.02z M10.07,52.04c3.61-5.02,8.03-9.84,12.7-14.28
        c-1.21,5.56-2.31,11.9-3.21,19.12C15.62,55.18,12.48,53.51,10.07,52.04z M21.2,59.79c3.91,1.56,8.52,3.09,13.86,4.46
        c-4.46,0.86-9.3,1.55-14.53,2.01C20.74,64.04,20.96,61.87,21.2,59.79z M21.46,57.67c1.07-8.68,2.44-16.07,3.94-22.35
        c4.72-4.29,9.57-8.16,13.96-11.44c4.93,3.63,10.5,8.06,15.85,13c1.32,5.8,2.52,12.5,3.49,20.24c-5.14,2.22-11.47,4.41-19.05,6.16
        C32.37,61.63,26.36,59.66,21.46,57.67z M39.34,21.42c-2.89-2.1-5.53-3.9-7.74-5.37c3.73-8.57,7.18-12.39,8.51-13.65
        c1.28,1.2,4.56,4.8,8.15,12.8C45.78,16.86,42.71,18.96,39.34,21.42z M49.06,17.04c1.8,4.28,3.64,9.68,5.33,16.43
        c-1.57-1.39-3.19-2.79-4.89-4.2c-2.91-2.4-5.79-4.62-8.49-6.62C44.03,20.45,46.78,18.56,49.06,17.04z M37.68,22.66
        c-2.41,1.8-4.94,3.77-7.51,5.89c-1.36,1.12-2.66,2.24-3.92,3.35c1.47-5.59,3.04-10.2,4.58-13.99
        C32.82,19.23,35.14,20.83,37.68,22.66z M57.77,39.31c4.08,3.95,7.93,8.18,11.19,12.56c-2.26,1.36-5.03,2.88-8.39,4.41
        C59.78,49.97,58.83,44.33,57.77,39.31z M58.94,59.13c0.27,2.36,0.54,4.81,0.77,7.36c-5.72-0.58-10.93-1.36-15.66-2.29
        C49.77,62.68,54.73,60.92,58.94,59.13z M60.83,58.31c3.73-1.68,6.82-3.35,9.28-4.85c3.21,4.58,5.73,9.31,7.09,14.06
        c-5.53-0.1-10.68-0.4-15.5-0.83C61.44,63.77,61.14,60.98,60.83,58.31z M57.03,35.85c-1.63-7.09-3.44-12.83-5.24-17.46l17.35,12.45
        l0.26,18.29C66.03,44.81,61.9,40.38,57.03,35.85z M45.21,5.46c3.04,2.06,5.82,4.19,8.33,6.38c-0.82,0.5-2.03,1.26-3.56,2.25
        C48.27,10.34,46.63,7.53,45.21,5.46z M29.86,14.91c-1.54-1-2.77-1.77-3.62-2.29c3.2-2.9,6.19-5.22,8.61-6.95
        C33.37,7.87,31.64,10.87,29.86,14.91z M23.56,34.3c-5.45,4.99-10.01,9.86-13.65,14.59l1.6-18.7l16.68-11.17
        C26.61,23.18,25.02,28.22,23.56,34.3z M6.21,68.83c4.26,0,8.3-0.16,12.15-0.44c-0.16,1.92-0.31,3.88-0.45,5.9
        c-4.15-1.36-8.45-3.16-12.84-5.48C5.45,68.82,5.84,68.83,6.21,68.83z M75.14,69.4c-2.71,1.5-7.1,3.63-12.81,5.41
        c-0.14-2.11-0.29-4.15-0.46-6.15C66.04,69.03,70.46,69.28,75.14,69.4z M71.79,52.4c2.04-1.32,3.54-2.44,4.5-3.22
        c1.41,6.09,1.73,11.24,1.73,14.64C76.61,60.12,74.53,56.3,71.79,52.4z M75.78,47.07c-0.69,0.59-2.14,1.77-4.4,3.27l-0.22-15.72
        C73.27,38.97,74.75,43.18,75.78,47.07z M66.55,26.58L51.25,15.6c1.76-1.14,3.08-1.95,3.8-2.4C59.79,17.54,63.55,22.07,66.55,26.58z
         M24.77,14.01c0.77,0.47,2.08,1.28,3.8,2.4L14.3,25.97C17.61,21.32,21.27,17.33,24.77,14.01z M7.79,50.58
        c-2.02-1.37-3.29-2.43-3.87-2.96c1.27-4.86,3.11-9.35,5.28-13.45L7.79,50.58z M19.85,74.9c0.13-1.97,0.27-3.88,0.42-5.75
        c2.67,1.88,8.61,5.91,13.84,8.57C29.63,77.28,24.86,76.4,19.85,74.9z M45.52,77.91c5.43-2.7,11.76-7.03,14.41-8.89
        c0.17,2.06,0.33,4.18,0.47,6.36c-1.45,0.41-2.97,0.79-4.56,1.13C52.79,77.16,49.33,77.67,45.52,77.91z"/>
      </g>
      <style>{{ wrapper }} .icon--forge-trillion:hover .hover-fill { fill: {{ hover }};}</style>
    </svg>
  {%- else  -%}
    {%- assign img = icon | append: '-icon.png' -%}
    {%- if images[img] != blank -%}
      <div class="icon-img {{ icon }} {{ classes }}" style="background: url({{ img | file_url }}); height: {{ size }}; width: {{ size }}; background-repeat: no-repeat; background-size: contain;"></div>
    {%- endif -%}
  {%- endif -%}
{% endif %}
