{% comment %} Image with text overlay Assets {% endcomment %}
<link rel="preload" href="{{ 'section-image-with-text-overlay.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'section-image-with-text-overlay.css' | asset_url }}"></noscript>

{% comment %} Image with text overlay Logic {% endcomment %}
{%- liquid
  if section.settings.full_width
    assign full_width =  'edge'
  endif

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}
{% comment %} Image with text overlay Template {% endcomment %}
<div
  class="section-img-txt-overlay image-with-text-overlay-{{ section.id }} global__section {{ section_padding }}"
  data-section-id="{{ section.id }}"
  data-section-type="image-text-overlay"
  data-section-loaded="false">

  <div class="grid__wrapper {{ full_width }}">

    <article class="span-12">
      {% if section.settings.link != blank %}<a href="{{ section.settings.link }}">{% endif %}
        <div class="section-img-txt-overlay__wrapper homepage-promo relative">
          {% if section.settings.image %}
            <div class="section-img-txt-overlay__bg-img background-image"></div>
          {% else %}
            <div class="onboard demo-1 ">
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
          <div class="section-img-txt-overlay__caption caption absolute-center w80">
            {% if section.settings.title != blank %}
              <h3 class="section-img-txt-overlay__heading animate--text">{{ section.settings.title }}</h3>
            {% endif %}
            {% if section.settings.subheading_text != blank %}
              <p class="section-img-txt-overlay__subheading mb0 animate--text delay--1">{{ section.settings.subheading_text }}</p>
            {% endif %}
            {%- if section.settings.button_text != blank and section.settings.link != blank -%}
              <a class="section-img-txt-overlay__button btn-border-link relative mb0 mt4 inline-block animate--text delay--2" href="{{ section.settings.link }}">
                <span>{{ section.settings.button_text }}</span>
              </a>
            {%- endif -%}
          </div>
        </div>
      {% if section.settings.link != blank %}</a>{% endif %}
    </article>
  </div>
  <style>
    .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__bg-img {
      height: {{ section.settings.image_height }}px;
      {% if section.settings.show_overlay_color %}
        box-shadow: inset 0 0 0 2000px {{ section.settings.overlay_color | color_modify: 'alpha', 0.30 }};
      {% endif %}
        background-position: {{ section.settings.image.presentation.focal_point }};
    }
    @media (min-width: 1367px) {
      .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__bg-img {
        background-image: url({{ section.settings.image | image_url: width: 1950 }});
      }
    }
    @media (min-width: 769px) and (max-width: 1366px) {
      .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__bg-img {
        background-image: url({{ section.settings.image | image_url: width: 1400 }});
      }
    }
    @media (min-width: 412px) and (max-width: 768px) {
      .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__bg-img {
        background-image: url({{ section.settings.image | image_url: width: 770 }});
      }
    }
    @media (max-width: 411px) {
      .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__bg-img {
        background-image: url({{ section.settings.image | image_url: width: 420 }});
      }
    }
    .image-with-text-overlay-{{ section.id }} svg.placeholder-svg {
      height: {{ section.settings.image_height }}px;
    }
    .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__heading {
      font-size: {{ section.settings.heading_size }}px;
      line-height: calc(({{ section.settings.heading_size }}px * 0.17) + {{ section.settings.heading_size }}px);
    }
    .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__subheading {
      font-size: {{ section.settings.subheading_size }}px;
      line-height: calc(({{ section.settings.subheading_size }}px * 0.34) + {{ section.settings.subheading_size }}px);
    }
    .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__heading,
    .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__subheading,
    .image-with-text-overlay-{{ section.id }} .btn-border-link {
      color: {{ section.settings.text_color }};
    }
    .image-with-text-overlay-{{ section.id }} .btn-border-link:before,
    .image-with-text-overlay-{{ section.id }} .btn-border-link:after {
      background: {{ section.settings.text_color }};
    }
    .image-with-text-overlay-{{ section.id }} .btn-border-link span:before,
    .image-with-text-overlay-{{ section.id }} .btn-border-link span:after {
      background: {{ section.settings.text_color }};
    }
    .image-with-text-overlay-{{ section.id }} .section-img-txt-overlay__heading {
      word-break: break-word;
    }
  </style>
</div>

{% schema %}
{
  "name": "Image with text overlay",
  "tag": "section",
  "class": "dynamic-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_color",
      "label": "Show image overlay",
      "default": false
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Image overlay color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 200,
      "max": 800,
      "step": 100,
      "unit": "px",
      "label": "Image height",
      "default": 600
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with Text Overlay"
    },
    {
      "type": "textarea",
      "id": "subheading_text",
      "label": "Subheading",
      "default": "Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "Optional"
    },
    {
      "type": "header",
      "content": "Section styles"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 12,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 60
    },
    {
      "type": "range",
      "id": "subheading_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Subheading size",
      "default": 18
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay"
    }
  ],
  "enabled_on": {
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "product",
      "search",
      "metaobject"
    ]
  }
}
{% endschema %}
